@import '../global/theme.scss';

$large: 40px;
$middle: 35px;
$small: 30px;
$mini: 25px;

.f-button {
  min-width: 100px;
  outline: none;
  height: $middle;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  user-select: none;
  display: inline-block;
  transition: .6s;

  .f-text {
    font-size: 14px;
  }

  // 文字加粗
  .is-blob {
    font-weight: bold;
  }
}

// 圆角
.f-button-round {
  border-radius: 30px;
}

// 按钮的尺寸
.f-button-large {
  height: $large;
}

.f-button-middle {
  height: $middle;
}

.f-button-small {
  height: $small;
}

.f-button-mini {
  height: $mini;
}

// 是否为块级元素
.f-button-block {
  display: block;
}

// 不同的类型
.f-button-default {
  background: $default;

  .f-text {
    color: #333;
  }
}

.f-button-primary {
  background: $primary;

  &:hover {
    background: $primaryHover;
  }
}

.f-button-success {
  background: $success;

  &:hover {}
}

.f-button-danger {
  background: $danger;

  &:hover {}
}

.f-button-warning {
  background: $warning;

  &:hover {}
}

.f-button-info {
  background: $info;

  &:hover {}
}

.f-button-primary,
.f-button-success,
.f-button-danger,
.f-button-warning,
.f-button-info {
  .f-text {
    color: #fff;
  }
}

// 禁用状态
.f-button-disabled {
  opacity: .5;
  cursor: not-allowed;
}