pre {
  background: #f6f8fa !important;
}
pre code {
  color: #333 !important;
}
pre code .punctuation {
  color: #a8a8a8;
}
pre code .tag {
  color: #025fd1;
}
pre code .attr-name {
  color: #00c281;
}
pre code .keyword {
  color: #f602ea;
}
pre code .function {
  color: #d73a49;
}
pre code .string {
  color: #c58701;
}
.language-html::before {
  color: #333 !important;
}
