# ESLint 去忽略特定的文件和目录
#
# 官方文档：https://eslint.bootcss.com/docs/user-guide/configuring#ignoring-files-and-directories

dist
dist-icon
node_modules
logo
fighting-add-component
scripts/**
fighting-eslint-config
fighting-icon
start
