# pnpm 配置文件
#
# 管文档参考：https://pnpm.io/zh/npmrc

# 自动安装任何缺少的非可选同级依赖关系
# https://pnpm.io/zh/npmrc#auto-install-peers
auto-install-peers = true

# 禁止 pnpm 在对等依赖关系问题上失败
# https://pnpm.io/zh/npmrc#strict-peer-dependencies
strict-peer-dependencies = false

# https://pnpm.io/zh/npmrc#shamefully-hoist
shamefully-hoist = true

# 指定 node 版本
# https://pnpm.io/zh/npmrc#node-version
use-node-version = 16.16.0
