/dist/*
/node_modules/**
**/*.svg
**/*.ai
**/*.sh
/docs/docs/.vitepress/dist/*
dist
**/dist/**
**/node_modules/**
dist-icon
node_modules
pnpm-lock.yaml
/packages/fighting-add-component
**/fighting-add-component/**
stats.html

# prettier 格式化和下面类格式有冲突，会取消函数名和后面括号之间的空格
./packages/fighting-design/_utils/calendar-lunar/index.ts
./packages/fighting-playground/src/store/index.ts
