.vt-doc {
  --vt-doc-code-font-size: 14px;
  --vt-doc-code-line-height: 1.5;
}

/* inline code */
.vt-doc :not(pre) > code {
  background-color: var(--vt-c-bg-mute);
  padding: 0.15em 0.5em;
  border-radius: 4px;
  color: var(--vt-c-text-code);
  transition: color 0.5s, background-color 0.5s;
}

.vt-doc a > code {
  color: var(--vt-c-brand-dark);
}

.vt-doc :not(pre, h1, h2, h3, h4, h5, h6) > code {
  font-size: var(--vt-doc-code-font-size);
}

@media (min-width: 768px) {
  .vt-doc :not(pre) > code {
    white-space: nowrap;
  }
}

.vt-doc div[class*='language-'] {
  position: relative;
  margin: 28px -24px;
  background-color: #292d3e;
  overflow-x: auto;
  transition: background-color 0.5s;
}

.dark .vt-doc div[class*='language-'] {
  background-color: var(--vt-c-bg-soft);
}

@media (min-width: 640px) {
  .vt-doc div[class*='language-'] {
    margin: 28px 0;
    border-radius: 8px;
  }
}

@media (max-width: 639px) {
  .vt-doc li div[class*='language-'] {
    border-radius: 8px 0 0 8px;
  }
}

.vt-doc div[class*='language-'] + div[class*='language-'],
.vt-doc div[class$='-api'] + div[class*='language-'],
.vt-doc div[class*='language-'] + div[class$='-api'] > div[class*='language-'] {
  margin-top: -16px;
}

.vt-doc [class*='language-'] pre,
.vt-doc [class*='language-'] code {
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.vt-doc [class*='language-'] pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 14px 24px;
  background: transparent;
  overflow-x: auto;
}

.vt-doc [class*='language-'] code {
  display: inline-block;
  padding: 0;
  line-height: var(--vt-doc-code-line-height);
  font-size: var(--vt-doc-code-font-size);
  color: #a6accd;
  transition: color 0.5s;
}

.vt-doc .highlight-lines {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 13px 0 11px;
  width: 100%;
  font-family: var(--vt-font-family-mono);
  line-height: var(--vt-doc-code-line-height);
  font-size: var(--vt-doc-code-font-size);
  user-select: none;
  overflow: hidden;
}

.vt-doc .highlight-lines .highlighted {
  background-color: rgba(0, 0, 0, 0.3);
  transition: background-color 0.5s;
}

.dark .vt-doc .highlight-lines .highlighted {
  background-color: rgba(255, 255, 255, 0.05);
}

.vt-doc div[class*='language-'].line-numbers-mode {
  padding-left: 32px;
}

.vt-doc .line-numbers-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  border-right: 1px solid var(--vt-c-divider-light);
  padding: 13px 0 11px;
  width: 32px;
  text-align: center;
  font-family: var(--vt-font-family-mono);
  line-height: var(--vt-doc-code-line-height);
  font-size: var(--vt-doc-code-font-size);
  color: var(--vt-c-text-3);
  transition: border-color 0.5s, color 0.5s;
}

.vt-doc [class*='language-']:before {
  position: absolute;
  top: 4px;
  right: 10px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: var(--vt-c-text-dark-3);
  transition: color 0.5s;
}

@media (max-width: 480px) {
  .vt-doc [class*='language-']:before {
    top: 1px;
    right: 5px;
    font-size: 11px;
  }
  .vt-doc [class*='language-'] pre {
    padding: 18px 20px 12px;
  }
  .vt-doc .highlight-lines {
    padding-top: 17px;
  }
}

.vt-doc [class~='language-vue']:before {
  content: 'vue';
}

.vt-doc [class~='language-html']:before {
  content: 'html';
}

.vt-doc [class~='language-vue-html']:before {
  content: 'template';
}

.vt-doc [class~='language-css']:before {
  content: 'css';
}

.vt-doc [class~='language-js']:before {
  content: 'js';
}

.vt-doc [class~='language-jsx']:before {
  content: 'jsx';
}

.vt-doc [class~='language-ts']:before {
  content: 'ts';
}

.vt-doc [class~='language-tsx']:before {
  content: 'tsx';
}

.vt-doc [class~='language-json']:before {
  content: 'json';
}

.vt-doc [class~='language-sh']:before,
.vt-doc [class~='language-bash']:before {
  content: 'sh';
}
