// Fighting Design 内部主要颜色
// :root 伪类参考：https://developer.mozilla.org/zh-CN/docs/Web/CSS/:root

:root {
  // 主要颜色
  --f-design-color-default-1: #f0f0f0;
  --f-design-color-primary-1: #2d5af1;
  --f-design-color-success-1: #52b35e;
  --f-design-color-danger-1: #ff0200;
  --f-design-color-warning-1: #fcc202;

  // 基础 hover 色号
  --f-design-color-default-2: #e8e8e8;
  --f-design-color-primary-2: #5d80f4;
  --f-design-color-success-2: #75c37f;
  --f-design-color-danger-2: #ff5857;
  --f-design-color-warning-2: #fed348;

  // 基础 active 色号
  --f-design-color-default-3: #d7d7d7;
  --f-design-color-primary-3: #0f3edc;
  --f-design-color-success-3: #40924a;
  --f-design-color-danger-3: #cc0200;
  --f-design-color-warning-3: #c99b02;

  // 简约色号
  --f-design-color-default-4: #f8f8f8;
  --f-design-color-primary-4: #dee5fd;
  --f-design-color-success-4: #e7f4e8;
  --f-design-color-danger-4: #ffd7d6;
  --f-design-color-warning-4: #fff5d6;

  // 简约 hover 色号
  --f-design-color-default-5: #f0f0f0;
  --f-design-color-primary-5: #ecf0fe;
  --f-design-color-success-5: #f1f9f2;
  --f-design-color-danger-5: #ffe6e6;
  --f-design-color-warning-5: #fff9e5;

  // 简约 active 色号
  --f-design-color-default-6: #e1e1e1;
  --f-design-color-primary-6: #d0dafc;
  --f-design-color-success-6: #dcf0df;
  --f-design-color-danger-6: #ffc7c7;
  --f-design-color-warning-6: #fff2c6;

  // 字体颜色
  --f-design-color-text-1: #333333;
  --f-design-color-text-2: #ffffff;
  --f-design-color-text-3: #b1b1b1;

  // 边框或背景色颜色
  --f-design-color-border-1: #eeeeee; // card
  --f-design-color-border-2: #e3e3e3; // list
  --f-design-color-border-3: #f4f4f4; // skeleton
  --f-design-color-border-4: #dee5fd; // input

  // 阴影
  --f-design-shadow-1: 0 0 8px #0003; // 大型阴影 card
  --f-design-shadow-2: #ededed 1px 1px 7px, #ededed -1px -1px 7px; // 中等阴影

  // 高度
  --f-design-height-large: 40px;
  --f-design-height-middle: 35px;
  --f-design-height-small: 30px;
  --f-design-height-mini: 25px;

  // 边距
  --f-design-padding-large: 30px;
  --f-design-padding-middle: 25px;
  --f-design-padding-small: 20px;
  --f-design-padding-mini: 15px;

  // 字体大小
  --f-design-font-size-large: 16px;
  --f-design-font-size-middle: 15px;
  --f-design-font-size-small: 14px;
  --f-design-font-size-mini: 13px;

  // 动画持续时间
  --f-design-transition-time: 0.3s;

  // 圆角大小
  --f-design-border-radius-1: 2px;
  --f-design-border-radius-2: 25px;
}
