@use './root';
@import '../config/const-type';

.f-alert {
  display: flex;
  padding: 10px 22px;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--f-design-border-radius-1);

  @for $list from 1 to (length($ComponentsType) + 1) {
    $item: nth($ComponentsType, $list); // 获取数据中心第i项的值

    // 不同类型
    &.f-alert__#{map-get($item, name)} {
      color: var(--f-alert-color, map-get($item, defaultTextColor));
      background: var(--f-alert-background, map-get($item, default));
    }

    // 简约的
    &.f-alert__simple.f-alert__#{map-get($item, name)} {
      background: map-get($item, simple);
      color: var(--f-alert-color, map-get($item, simpleTextColor));
    }
  }

  // 主要内容
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    // 主标题
    .f-alert__title {
      font-weight: bold;
      margin-left: 10px;
      font-size: var(--f-alert-title-size, 17px);
      color: var(--f-alert-title-color);
    }

    // 副标题
    .f-alert__sub-title {
      display: block;
      margin-left: 10px;
      line-height: 24px;
      font-size: var(--f-alert-font-size, 15px);
    }

    // 滚动列表
    .f-alert__list {
      margin-left: 10px;
      height: 40px;
      overflow-y: hidden;
      overflow-x: hidden;
      font-size: var(--f-alert-font-size, 15px);

      .f-alert__list-item {
        line-height: 40px;
      }
    }
  }

  // 加粗
  &.f-alert__bold {
    font-weight: bold;
  }

  // 居中
  &.f-alert__center {
    text-align: center;
  }

  // 圆角
  &.f-alert__round {
    border-radius: var(--f-design-border-radius-2);
  }

  // 固定定位
  &.f-alert__fixed {
    width: 100%;
    position: fixed;
  }

  // 关闭按钮
  .f-close-btn {
    position: absolute;
    right: 10px;
  }

  // 关闭动画
  &-enter-active,
  &-leave-active {
    transition: all 0.2s ease-out;
  }

  &-enter-from,
  &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }
}
