@import '../config/var-alert';

.f-alert {
  display: flex;
  padding: 8px 10px;
  margin: 0;
  position: relative;
  align-items: center;
  box-sizing: border-box;
  border-radius: var(--alert-border-radius);
  color: var(--alert-color);
  transition: 0.3s;
  background-color: var(--alert-background);

  // 主要内容
  &__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1 1 auto;

    // 主标题
    .f-alert__title {
      font-weight: bold;
      margin-left: 10px;
      font-size: var(--alert-title-size, 17px);
      color: var(--alert-title-color);
    }

    // 副标题
    .f-alert__sub-title {
      display: block;
      margin-left: 10px;
      line-height: 24px;
      font-size: var(--alert-font-size, 14px);
    }

    // 滚动列表
    .f-alert__list {
      margin-left: 10px;
      height: 24px;
      overflow-y: hidden;
      overflow-x: hidden;
      font-size: var(--alert-font-size, 15px);

      .f-alert__list-item {
        line-height: 24px;
      }
    }
  }

  // 加粗
  &.f-alert__bold {
    font-weight: bold;
  }

  // 居中
  &.f-alert__center .f-alert__content {
    justify-content: center;
  }

  // 固定定位
  &.f-alert__fixed {
    width: 100%;
    position: fixed;
  }

  // 关闭按钮
  & > .f-close-btn {
    position: absolute;
    right: 10px;
  }

  // 关闭动画
  &-enter-active,
  &-leave-active {
    transition: all 0.2s ease-out;
  }

  &-enter-from,
  &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }
}
