@import '../config/const-color.scss';
@import '../config/const-size.scss';

.f-alert {
  padding: 10px 22px;
  position: relative;
  box-sizing: border-box;
  border-radius: $basicRadiusSize;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @for $list from 1 to (length($allTypeColorList) + 1) {
    $item: nth($allTypeColorList, $list); // 获取数据中心第i项的值

    // 不同类型
    &.f-alert-#{map-get($item, name)} {
      background: var(--f-alert-background, map-get($item, default));
      color: var(--f-alert-color, map-get($item, defaultTextColor));
    }

    // 简约的
    &.f-alert-simple.f-alert-#{map-get($item, name)} {
      background: map-get($item, simple);
      color: var(--f-alert-color, map-get($item, simpleTextColor));
    }
  }

  // 主要内容
  .f-alert-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex: 1;

    .f-alert-icon {
      margin-right: 13px;
    }

    // 主标题
    .f-alert-title {
      font-size: var(--f-alert-title-size, 17px);
      color: var(--f-alert-title-color);
      font-weight: bold;
    }

    // 副标题
    .f-alert-sub-title {
      display: block;
      font-size: var(--f-alert-font-size, 15px);

      &.f-alert-sub-title-ellipsis {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 300px;
      }
    }

    &.f-alert-content-hidden {
      overflow: hidden;
      white-space: nowrap;
    }
  }

  // 关闭按钮
  .f-alert-close {
    cursor: pointer;
    min-width: 20px;
    min-height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5;
    margin-left: 13px;

    &:hover {
      background: rgba(255, 255, 255, 0.2);
      border-radius: 50%;
    }
  }

  // 加粗
  &.f-alert-bold {
    font-weight: bold;
  }

  // 居中
  &.f-alert-center {
    text-align: center;
  }

  // 圆角
  &.f-alert-round {
    border-radius: 20px;
  }

  // 固定定位
  &.f-alert-fixed {
    width: 100%;
    position: fixed;
  }
}
