@use './root';
@import '../config/var-avatar';

.f-avatar {
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  width: var(--f-avatar-size, 60px);
  height: var(--f-avatar-size, 60px);
  background: var(--f-avatar-background, none);

  &__img {
    width: var(--f-avatar-size, 60px);
    height: var(--f-avatar-size, 60px);
  }

  // 不同大小
  @each $key, $value in $avatarSize {
    &.f-avatar__#{$key},
    &__#{$key} {
      width: $value;
      height: $value;
    }
  }

  // 不同的适应容器的方式
  @each $key in $avatarFit {
    &__#{$key} {
      object-fit: $key;
    }
  }

  // 圆角
  &__round,
  &.f-avatar__round {
    border-radius: 50%;
  }

  &__text {
    font-size: var(--f-avatar-font-size, 15px);
    color: var(--f-avatar-font-color, --f-design-color-text-1);
  }
}

.f-avatar__error {
  width: 60px;
  height: 60px;
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  background: var(--f-design-color-border-1);

  .f-avatar__error-text {
    font-size: var(--f-avatar-font-size, 13px);
    color: var(--f-avatar-font-color, var(--f-design-color-text-1));
  }
}
