@import '../config/var-avatar.scss';

.f-avatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;

  // 不同大小
  @each $key, $value in $avatarSize {
    &.f-avatar-#{$key},
    .f-avatar-#{$key} {
      width: $value;
      height: $value;
    }
  }

  // 不同的适应容器的方式
  @each $key in $avatarFit {
    .f-avatar-#{$key} {
      object-fit: $key;
    }
  }

  // 圆角
  .f-avatar-round,
  &.f-avatar-round {
    border-radius: 50%;
  }

  .f-avatar-text {
    font-size: 15px;
    color: #333;
  }

  @keyframes bgPos {
    0% {
      background-position: 50% 0;
    }

    100% {
      background-position: -150% 0;
    }
  }

  &.f-avatar-animation {
    background-image: linear-gradient(
      to right,
      #f6f7f8 0%,
      #edeef1 10%,
      #f6f7f8 20%,
      #f6f7f8 100%
    );
    background-size: 200% 100%;
    animation: bgPos 0.8s linear infinite;
  }
}

.f-avatar-error {
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  vertical-align: middle;

  .f-avatar-error-text {
    color: #333;
    font-size: 13px;
  }
}
