@import '../config/var-avatar';

.f-avatar {
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: var(--avatar-size);
  height: var(--avatar-size);
  background-color: var(--avatar-background);
  vertical-align: middle;

  // 图片元素
  &__img {
    width: var(--avatar-size);
    height: var(--avatar-size);
  }

  // 不同的适应容器的方式
  @each $key in fill, contain, cover, none, scale-down {
    &.f-avatar__#{$key} .f-avatar__img {
      object-fit: $key;
    }
  }

  // 圆角
  &.f-avatar__round,
  &.f-avatar__round .f-avatar__img {
    border-radius: 50%;
  }

  // 文字图片
  &__text {
    font-size: var(--avatar-font-size, 15px);
    color: var(--avatar-font-color, #333);
  }
}

// 加载失败的
.f-avatar__error {
  width: var(--avatar-size);
  height: var(--avatar-size);
  align-items: center;
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  background-color: #eee;

  .f-avatar__error-text {
    font-size: var(--avatar-font-size, 13px);
    color: var(--avatar-font-color, #333);
  }
}
