.f-back-top {
  z-index: var(--f-back-top-z-index, 900);
  right: var(--f-back-top-right, 40px);
  bottom: var(--f-back-top-bottom, 40px);
  color: var(--f-back-top-color, #333);
  background: var(--f-back-top-background, #fff);
  position: fixed;
  min-width: 40px;
  height: 40px;
  padding: 0 30px;
  box-sizing: border-box;
  border-radius: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: 0.6s;
  box-shadow: rgb(237, 237, 237) 1px 1px 7px, rgb(237, 237, 237) -1px -1px 7px;

  &.f-back-top__round {
    padding: 0;
    border-radius: 50%;
  }

  &:hover {
    box-shadow: rgb(221, 221, 221) 1px 1px 10px,
      rgb(221, 221, 221) -1px -1px 10px;
  }
}
