@use './root';

.f-back-top {
  position: fixed;
  min-width: 40px;
  min-height: 40px;
  padding: 11px 23px;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  cursor: pointer;
  transition: 0.6s;
  border-radius: var(--f-design-border-radius-2);
  box-shadow: #ededed 1px 1px 7px, #ededed -1px -1px 7px;
  right: var(--f-back-top-right, 40px);
  bottom: var(--f-back-top-bottom, 40px);
  z-index: var(--f-back-top-z-index, 900);
  color: var(--f-back-top-color, var(--f-design-color-text-1));
  background: var(--f-back-top-background, var(--f-design-color-text-2));

  &.f-back-top__round {
    padding: 0;
    border-radius: 50%;
  }

  &:hover {
    box-shadow: #dddddd 1px 1px 10px, #dddddd -1px -1px 10px;
  }

  &-enter-active,
  &-leave-active {
    transition: all 0.1s ease-out;
  }

  &-enter-from,
  &-leave-to {
    transform: scale(0.5);
    opacity: 0;
  }
}
