$color: #e5e5e5;

.f-backtop {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid $color;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  &-round {
    border-radius: 50%;
  }
}

.f-backtop:hover {
  transition: background-color .5s;
  background-color: $color;
}
