.f-back-top {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 1px solid #e5e5e5;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  bottom: 40px;
  right: 40px;
  &-round {
    border-radius: 50%;
  }
}

.f-back-top:hover {
  transition: 0.5s;
  background: #e5e5e5;
}
