.f-breadcrumb-item {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;

  // 文字内容
  .f-breadcrumb-item__text {
    font-size: var(--breadcrumb-item-font-size, 15px);
    color: var(--breadcrumb-item-font-color, #333);
  }

  // icon
  .f-svg-icon {
    margin: 0 6px;
    color: var(--breadcrumb-item-icon-color, #dee5fd);
  }

  // 最后一个分隔符隐藏
  &:last-child {
    .f-svg-icon {
      display: none;
    }
  }
}
