@use './root';
@import '../config/const-size';

.f-button-group {
  display: inline-block;

  // 横向排列
  &.f-button-group__horizontal {
    .f-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .f-button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }

    .f-button:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }

  // 纵向排列
  &.f-button-group__vertical {
    display: inline-flex;
    flex-direction: column;

    .f-button:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .f-button:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    .f-button:not(:first-child):not(:last-child) {
      border-radius: 0;
    }
  }
}
