.f-button {
  --button-border-radius: 2px;
  --button-round-border-radius: 25px;
  --button-default-color: #fff;
}

.f-button__default {
  --button-color: #333;
  --button-background: #f0f0f0;
  --button-hover: #e8e8e8;
  --button-active: #d7d7d7;
  --button-simple-color: #333;
  --button-simple-background: #f8f8f8;
  --button-simple-hover: #f0f0f0;
  --button-simple-active: #e1e1e1;
}

.f-button__primary {
  --button-color: #fff;
  --button-background: #2d5af1;
  --button-hover: #5d80f4;
  --button-active: #0f3edc;
  --button-simple-color: #2d5af1;
  --button-simple-background: #dee5fd;
  --button-simple-hover: #ecf0fe;
  --button-simple-active: #d0dafc;
}

.f-button__success {
  --button-color: #fff;
  --button-background: #52b35e;
  --button-hover: #75c37f;
  --button-active: #40924a;
  --button-simple-color: #52b35e;
  --button-simple-background: #e7f4e8;
  --button-simple-hover: #f1f9f2;
  --button-simple-active: #dcf0df;
}

.f-button__danger {
  --button-color: #fff;
  --button-background: #ff0200;
  --button-hover: #ff5857;
  --button-active: #cc0200;
  --button-simple-color: #ff0200;
  --button-simple-background: #ffd7d6;
  --button-simple-hover: #ffe6e6;
  --button-simple-active: #ffc7c7;
}

.f-button__warning {
  --button-color: #fff;
  --button-background: #fcc202;
  --button-hover: #fed348;
  --button-active: #c99b02;
  --button-simple-color: #fcc202;
  --button-simple-background: #fff5d6;
  --button-simple-hover: #fff9e5;
  --button-simple-active: #fff2c6;
}

.f-button__large {
  --button-height: 40px;
  --button-padding: 30px;
  --button-font-size: 16px;
}

.f-button__middle {
  --button-height: 35px;
  --button-padding: 25px;
  --button-font-size: 15px;
}

.f-button__small {
  --button-height: 30px;
  --button-padding: 20px;
  --button-font-size: 14px;
}

.f-button__mini {
  --button-height: 25px;
  --button-padding: 15px;
  --button-font-size: 13px;
}

.f-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  user-select: none;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  transition: 0.3s;
  border-radius: var(--button-border-radius);
  box-shadow: var(--f-button-shadow);
  font-size: var(--f-button-font-size, var(--button-font-size));
  background: var(--button-background);
  height: var(--button-height);
  padding: 0 var(--button-padding);
  color: var(--button-color);

  // 简约按钮
  &.f-button__simple {
    color: var(--button-simple-color);
    background: var(--button-simple-background);

    &:not([disabled]):hover {
      background: var(--button-simple-hover);
    }

    &:not([disabled]):active {
      background: var(--button-simple-active);
    }
  }

  // 文字按钮
  &.f-button__text {
    background: none;
    color: var(--button-simple-color);

    &:not([disabled]):hover {
      background: #f0f0f0;
    }

    &:not([disabled]):active {
      background: #d7d7d7;
    }
  }

  // 扩散效果
  &.f-button__spread::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    border-radius: inherit;
    transition: 0.3s;
    box-shadow: 0 0 0 4px var(--button-background);
  }

  &:not([disabled]):active::after {
    box-shadow: none;
    opacity: 1;
    transition: 0s;
  }

  &:not([disabled]):hover {
    background: var(--button-hover);
  }

  &:not([disabled]):active {
    background: var(--button-active);
  }

  // 圆形按钮
  &.f-button__circle {
    width: var(--button-height);
    padding: 0;
    border-radius: 50%;
  }

  // 圆角
  &.f-button__round {
    border-radius: var(--button-round-border-radius);
  }

  // 块级元素
  &.f-button__block {
    display: block;
    width: 100%;
  }

  // 文字加粗
  &.f-button__bold {
    font-weight: bold;
  }

  // 禁用状态
  &.f-button__disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // loading
  &__loading-animation {
    animation: f-button-loading-animation 1s linear infinite;
    -webkit-animation: f-button-loading-animation 1s linear infinite;
  }

  // loading 动画
  @keyframes f-button-loading-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  // 涟漪容器
  &__ripples-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    // 涟漪效果
    .f-button__ripples {
      width: 2px;
      height: 2px;
      position: absolute;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 50%;
      animation: f-button-ripples 0.7s linear;
      opacity: 0.5;
      background: var(--button-default-color);
    }
  }

  // 涟漪动画效果
  @keyframes f-button-ripples {
    from {
      width: 2px;
      height: 2px;
      opacity: 0.5;
    }

    to {
      opacity: 0;
      width: 500px;
      height: 500px;
    }
  }

  // 自定义颜色
  &.f-button__color {
    background: var(--f-button-default-color);
    color: var(--f-button-font-color, var(--button-default-color));

    &:not([disabled]):hover {
      background: var(--f-button-hover-color);
    }

    &:not([disabled]):active {
      background: var(--f-button-active-color);
    }
  }

  // icon 在不是圆形的时候带有边距
  &:not([class~='f-button__circle f-button__icon']):not([class~='f-button__icon']) {
    .f-button_before-icon {
      margin-right: 5px;
    }

    .f-button_after-icon {
      margin-left: 5px;
    }
  }

  // 如果在类名都移除状态下的备用样式
  &:not([disabled]):hover {
    background: var(--button-hover);
  }

  &:not([disabled]):active {
    background: var(--button-active);
  }
}
