@import '../config/var-button.scss';

.f-button {
  position: relative;
  font-size: 15px;
  text-decoration: none;
  // color: #fff;
  border: none;
  outline: none;
  user-select: none;
  height: $middle;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  line-height: 1;
  cursor: pointer;
  padding: 0 25px;
  overflow: hidden;

  // 不同类型
  @each $key, $type in $ButtonTypes {
    &.f-button-#{$key} {
      color: #fff;
      background: $type;
      // 移入和点击的效果
      &:hover {
        background: lighten($type, 5%);
      }
      &:active {
        background: darken($type, 5%);
      }
    }
  }

  // 不同大小
  @each $key, $type in $ButtonSizes {
    &.f-button-#{$key} {
      height: $type;
      padding: 0 ($type - 10);
    }
  }

  // 圆角
  &.f-button-round {
    border-radius: 30px;
  }

  // 块级元素
  &.f-button-block {
    display: block;
    width: 100%;
  }

  // 文字加粗
  &.f-button-blob {
    font-weight: 600;
  }

  // 禁用状态
  &.f-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
