@use './root';
@import '../config/const-type';
@import '../config/const-size';

.f-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  user-select: none;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  transition: var(--f-design-transition-time);
  border-radius: var(--f-design-border-radius-1);
  background: var(--f-design-color-default-1);
  box-shadow: var(--f-button-box-shadow);
  font-size: var(--f-button-font-size, var(--f-design-font-size-middle));

  // 不同背景和字体颜色
  @for $list from 1 to (length($ComponentsType) + 1) {
    $item: nth($ComponentsType, $list); // 获取数组中第i项的值

    // 不同类型
    &.f-button__#{map-get($item, name)} {
      background: map-get($item, default);
      color: var(--f-button-font-color, map-get($item, defaultTextColor));

      // https://developer.mozilla.org/zh-CN/docs/Web/CSS/:not
      &:not([disabled]):hover {
        background: map-get($item, defaultHover);
      }

      &:not([disabled]):active {
        background: map-get($item, defaultActive);
      }

      // 简约按钮
      &.f-button__simple {
        background: map-get($item, simple);
        color: var(--f-button-font-color, map-get($item, simpleTextColor));

        &:not([disabled]):hover {
          background: map-get($item, simpleHover);
        }

        &:not([disabled]):active {
          background: map-get($item, simpleActive);
        }
      }

      // 文字按钮
      &.f-button__text {
        background: none;
        color: var(--f-button-font-color, map-get($item, simpleTextColor));

        &:not([disabled]):hover {
          background: var(--f-design-color-default-1);
        }

        &:not([disabled]):active {
          background: var(--f-design-color-default-3);
        }
      }

      // 扩散效果
      &.f-button__spread::after {
        content: '';
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        border-radius: inherit;
        transition: 0.3s;
        box-shadow: 0 0 0 4px map-get($item, default);
      }

      &:not([disabled]):active::after {
        box-shadow: none;
        opacity: 1;
        transition: 0s;
      }
    }
  }

  // 不同尺寸
  @for $list from 1 to (length($ComponentsSize) + 1) {
    $item: nth($ComponentsSize, $list); // 获取数组中第 i 项的值

    &.f-button__#{map-get($item, name)} {
      height: map-get($item, height);
      padding: 0 map-get($item, padding);
      font-size: map-get($item, fontSize);

      // 圆形按钮
      &.f-button__circle {
        width: map-get($item, height);
        padding: 0;
        border-radius: 50%;
      }
    }
  }

  // 圆角
  &.f-button__round {
    border-radius: var(--f-design-border-radius-2);
  }

  // 块级元素
  &.f-button__block {
    display: block;
    width: 100%;
  }

  // 文字加粗
  &.f-button__bold {
    font-weight: bold;
  }

  // 禁用状态
  &.f-button__disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // loading
  &__loading-animation {
    animation: f-button-loading-animation 1s linear infinite;
    -webkit-animation: f-button-loading-animation 1s linear infinite;
  }

  // loading 动画
  @keyframes f-button-loading-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  // 涟漪容器
  &__ripples-box {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;

    // 涟漪效果
    .f-button__ripples {
      width: 2px;
      height: 2px;
      position: absolute;
      transform: translate(-50%, -50%);
      pointer-events: none;
      border-radius: 50%;
      animation: f-button-ripples 0.7s linear;
      opacity: 0.5;
      background: var(--f-design-color-text-2);
    }
  }

  // 涟漪动画效果
  @keyframes f-button-ripples {
    from {
      width: 2px;
      height: 2px;
      opacity: 0.5;
    }

    to {
      opacity: 0;
      width: 500px;
      height: 500px;
    }
  }

  // 自定义颜色
  &.f-button__color {
    background: var(--f-button-default-color);
    color: var(--f-button-font-color, var(--f-design-color-text-2));

    &:not([disabled]):hover {
      background: var(--f-button-hover-color);
    }

    &:not([disabled]):active {
      background: var(--f-button-active-color);
    }
  }

  // icon 在不是圆形的时候带有边距
  &:not([class~='f-button__circle']) {
    .f-button_before-icon {
      margin-right: 5px;
    }

    .f-button_after-icon {
      margin-left: 5px;
    }
  }
}
