.f-button-group {
  display: inline-flex;

  .f-button:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  // 水平的
  &.f-button-group__horizontal {
    .f-button:first-child {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .f-button:last-child {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // 垂直的
  &.f-button-group__vertical {
    flex-direction: column;

    .f-button:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .f-button:last-child {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }
}
