@import '../config/const-color.scss';
@import '../config/var-button.scss';

.f-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  border: none;
  outline: none;
  user-select: none;
  text-decoration: none;
  height: $middle;
  transition: 0.3s;
  line-height: 1;
  cursor: pointer;
  padding: 0 25px;
  background: $default;
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;

  @for $list from 1 to (length($allTypeColorList) + 1) {
    $item: nth($allTypeColorList, $list); // 获取数组中第i项的值

    // 不同类型
    &.f-button-#{map-get($item, name)} {
      background: map-get($item, default);
      color: map-get($item, defaultTextColor);

      &:hover {
        background: map-get($item, defaultHover);
      }

      &:active {
        background: map-get($item, defaultActive);
      }

      // 普通按钮禁用效果
      &.f-button-disabled:hover {
        background: map-get($item, default);
        color: map-get($item, defaultTextColor);
      }

      // 简约按钮
      &.f-button-simple {
        color: map-get($item, simpleTextColor);
        background: map-get($item, simple);

        &:hover {
          background: map-get($item, simpleHover);
        }

        &:active {
          background: map-get($item, simpleActive);
        }

        // 简约按钮禁用效果
        &.f-button-disabled:hover {
          color: map-get($item, simpleTextColor);
          background: map-get($item, simple);
        }
      }

      // 文字按钮
      &.f-button-text {
        background: #fff;
        color: map-get($item, simpleTextColor);

        &:hover {
          background: $default;
        }

        &:active {
          background: darken($default, 5%);
        }

        // 文字按钮禁用状态
        &.f-button-disabled:hover {
          background: #fff;
          color: map-get($item, simpleTextColor);
          border: 1px solid map-get($item, simpleTextColor);
        }
      }
    }
  }

  // 不同尺寸
  @for $list from 1 to (length($buttonSize) + 1) {
    $item: nth($buttonSize, $list); // 获取数组中第i项的值

    &.f-button-#{map-get($item, name)} {
      height: map-get($item, height);
      padding: 0 map-get($item, padding);
      line-height: map-get($item, height);
      font-size: map-get($item, fontSize);

      // 圆形按钮
      &.f-button-circle {
        height: map-get($item, height);
        width: map-get($item, height);
        line-height: 1;
        padding: 0;
        border-radius: 50%;
      }
    }
  }

  // 圆角
  &.f-button-round {
    border-radius: 30px;
  }

  // 块级元素
  &.f-button-block {
    display: block;
    width: 100%;
  }

  // 文字加粗
  &.f-button-bold {
    font-weight: bold;
  }

  // 禁用状态
  &.f-button-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  // loading
  .f-loading-animation {
    display: inline-block;
    animation: loading 1s linear infinite;
    -webkit-animation: loading 1s linear infinite;
    margin-right: 3px;
    font-size: 16px;
  }

  .f-icon {
    background: transparent !important;
  }

  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  // 涟漪效果
  .f-design-ripples {
    width: 2px;
    height: 2px;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: f-ripples 0.7s linear;
    opacity: 0.5;
    background: #fff;
  }

  @keyframes f-ripples {
    from {
      width: 0px;
      height: 0px;
      opacity: 0.5;
    }

    to {
      width: 500px;
      height: 500px;
      opacity: 0;
    }
  }
}
