@use './root';

.f-calendar {
  cursor: default;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  // 头部
  &__header {
    width: 100%;
    display: flex;
    padding: 7px 20px;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;

    // 切换按钮
    .f-svg-icon {
      cursor: pointer;
      padding: 4px;
      transition: background var(--f-design-transition-time);

      &:hover {
        background: var(--f-design-color-border-1);
      }
    }

    // 当前时间
    .f-calendar__option {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;

      .f-calendar__now-time {
        color: var(--f-design-color-text-1);
        margin-right: 7px;
      }

      // 今天
      .f-calendar__now-date {
        color: var(--f-design-color-primary-1);
        cursor: pointer;
        font-weight: 600;
        user-select: none;
      }
    }
  }

  // 星期
  &__week {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    .f-calendar__week-li {
      padding: 10px;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      justify-content: center;
      height: var(--f-calendar-week-height, 50px);
    }
  }

  // 天
  &__day {
    margin: 0;
    padding: 0;
    display: grid;
    cursor: pointer;
    list-style: none;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    .f-calendar__day-li {
      padding: 10px;
      display: flex;
      overflow: hidden;
      position: relative;
      align-items: center;
      flex-direction: column;
      box-sizing: border-box;
      border-top: 3px solid transparent;
      transition: var(--f-design-transition-time);
      height: var(--f-calendar-day-height, 90px);

      &:hover {
        background: #f7f7f7;
      }

      &.f-calendar__day-li-last {
        color: #c6c6c6;
      }

      // 阳历
      .f-calendar__solar {
        font-size: 15px;
      }

      // 农历
      .f-calendar__lunar {
        font-size: 14px;
      }

      // 今天
      &.f-calendar__day-today {
        transition: var(--f-design-transition-time);
        color: var(--f-design-color-primary-1);
        background: var(--f-design-color-primary-4);
        border-top: 3px solid var(--f-design-color-primary-1);
      }

      // 不是当月的时间
      &.f-calendar__not-month {
        color: #cecece;
      }

      // 备忘录
      .f-calendar__memorandum {
        position: absolute;
        height: 26px;
        bottom: 0px;
        right: 0;
        left: 0;
        overflow: auto;
        cursor: pointer;
        scrollbar-width: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: hidden;
        overflow-y: auto;
        transition: height 0.5s;
        padding: 10px;
        box-sizing: border-box;
        box-shadow: 0 -6px 12px 0 #5b78d817;
        background: var(--f-design-color-text-2);

        &::-webkit-scrollbar {
          display: none;
        }

        &:hover {
          height: 100%;
        }

        .f-calendar__memorandum-item {
          margin-bottom: 8px;
          cursor: pointer;
        }
      }
    }
  }

  // 边框
  &.f-calendar__border {
    border-top: 1px solid var(--f-calendar-border-color, var(--f-design-color-border-1));
    border-left: 1px solid var(--f-calendar-border-color, var(--f-design-color-border-1));

    .f-calendar__header {
      border-right: 1px solid var(--f-calendar-border-color, var(--f-design-color-border-1));
    }

    .f-calendar__week {
      border-bottom: 1px solid var(--f-calendar-border-color, var(--f-design-color-border-1));
      border-top: 1px solid var(--f-calendar-border-color, var(--f-design-color-border-1));
      margin: 0;

      .f-calendar__week-li {
        border-right: 1px solid var(--f-calendar-border-color, var(--f-design-color-border-1));
      }
    }

    .f-calendar__day {
      margin: 0;
      .f-calendar__day-li {
        border-right: 1px solid var(--f-calendar-border-color, var(--f-design-color-border-1));
        border-bottom: 1px solid var(--f-calendar-border-color, var(--f-design-color-border-1));
      }
    }
  }
}
