@import '../config/const-color.scss';
$borderColor: red;

.f-calendar {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: default;

  // 头部
  .f-calendar-header {
    height: 45px;
    width: 100%;
    background: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;

    // 当前时间
    .f-calendar-time {
      display: flex;
      justify-content: center;
      align-items: center;

      .f-calendar-time-now {
        font-weight: 700;
        color: #333;
      }
    }

    // 操作栏
    .f-calendar-option {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 150px;

      .f-icon {
        transition: 0.3s;
        cursor: pointer;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  // 星期
  .f-calendar-week {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    .f-calendar-week-li {
      height: var(--f-calendar-week-height, 50px);
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // 天
  .f-calendar-day {
    padding: 0;
    margin: 0;
    list-style: none;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));

    .f-calendar-day-li {
      height: var(--f-calendar-day-height, 85px);
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &.f-calendar-day-li-last {
        color: rgb(198, 198, 198);
      }

      // 阳历
      .f-calendar-solar {
        font-size: 15px;
      }

      // 农历
      .f-calendar-lunar {
        font-size: 14px;
      }

      // 今天
      &.f-calendar-day-today {
        color: #fff;
        background: $primary;
        transition: background 0.3s;
      }
    }
  }

  // 页脚
  .f-calendar-footer {
    padding: 15px;
    background: #eee;

    .f-calendar-footer-list {
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      margin: 0;

      li {
        display: inline-block;
        width: 150px;
        font-size: 15px;
      }
    }
  }

  // 边框
  &.f-calendar-border {
    border-top: 1px solid var(--f-calendar-border-color, #eee);
    border-left: 1px solid var(--f-calendar-border-color, #eee);

    .f-calendar-header {
      border-right: 1px solid var(--f-calendar-border-color, #eee);
    }

    .f-calendar-week {
      border-bottom: 1px solid var(--f-calendar-border-color, #eee);
      border-top: 1px solid var(--f-calendar-border-color, #eee);

      .f-calendar-week-li {
        border-right: 1px solid var(--f-calendar-border-color, #eee);
      }
    }

    .f-calendar-day {
      .f-calendar-day-li {
        border-right: 1px solid var(--f-calendar-border-color, #eee);
        border-bottom: 1px solid var(--f-calendar-border-color, #eee);
      }
    }
  }
}
