.f-captcha {
  width: 340px;
  background: #fff;
  padding: 10px;
  box-sizing: border-box;
  display: inline-block;
  user-select: none;

  .f-captcha-verify-box {
    position: relative;
    height: 210px;

    // 验证图
    .f-captcha-verify {
      position: absolute;
      width: 320px;
      height: 210px;
      right: 0;
      left: 0;
      top: 0;
    }

    // 拼图
    .f-captcha-jigsaw {
      position: absolute;
      width: 60px;
      height: 60px;
      top: 83px;
      border: 1px solid #fff;
    }
  }

  // 滑块
  .f-captcha-move {
    position: relative;
    margin-top: 5px;
    width: 100%;
    height: 42px;
    padding: 1px;
    box-sizing: border-box;
    background: #eee;

    .f-captcha-item {
      width: 60px;
      height: 40px;
      font-size: 13px;
      position: absolute;
      background: #fff;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      user-select: none;
      cursor: pointer;
    }
  }
}