.f-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
  white-space: nowrap;
  outline: none;
  user-select: none;
  transition: all 0.3s;

  // 选择框
  &__box {
    width: 14px;
    height: 14px;
    border: 1px solid #dee5fd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 7px;
    border-radius: 2px;
    transition: 0.3s;
  }

  // 文字
  &__text {
    color: #333;
    font-size: 15px;
    transition: 0.3s;
  }

  // 正常状态选中状态
  &.f-checkbox__checked {
    .f-checkbox__text {
      color: #2d5af1;
    }

    // 前面盒子
    .f-checkbox__box {
      background-color: #2d5af1;
      border: 1px solid #2d5af1;

      &::after {
        content: '';
        width: 4px;
        height: 9px;
        position: absolute;
        top: 0;
        transform: rotate(45deg) scaleY(1);
        border: 1px solid #fff;
        border-left: 0;
        border-top: 0;
        animation: f-checkbox-animation 0.1s ease-in;

        @keyframes f-checkbox-animation {
          from {
            transform: rotate(45deg) scale(0);
          }

          to {
            transform: rotate(45deg) scale(1);
          }
        }
      }
    }

    // 选中的禁用状态
    &.f-checkbox__disabled {
      border-color: #d7d7d7;

      .f-checkbox__text {
        color: #d7d7d7;
      }
    }
  }

  // 正常状态禁用
  &.f-checkbox__disabled {
    cursor: not-allowed;

    .f-checkbox__text {
      color: #d7d7d7;
    }

    .f-checkbox__box {
      border-color: #d7d7d7;
      background-color: #f4f4f4;

      &::after {
        border-color: #d7d7d7;
      }
    }
  }
}
