.f-checkbox {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  outline: none;
  user-select: none;
  transition: 0.4s;
  cursor: pointer;
  color: var(--f-design-color-text-1);

  // 选择框
  &__box {
    width: 14px;
    height: 14px;
    border: 1px solid #dee5fd;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-right: 7px;
    border-radius: var(--f-design-border-radius-1);
  }

  // 文字
  &__text {
    color: var(--f-design-color-text-1);
    transition: color 0.3s;
  }

  // 正常状态选中状态
  &.f-checkbox__selected {
    .f-checkbox__text {
      color: var(--f-design-color-primary-1);
    }

    // 前面盒子
    .f-checkbox__box {
      background: var(--f-design-color-primary-1);
      border: 1px solid var(--f-design-color-primary-1);

      &::after {
        content: '';
        width: 4px;
        height: 9px;
        position: absolute;
        top: 0;
        transform: rotate(45deg) scaleY(1);
        border: 1px solid var(--f-design-color-text-2);
        border-left: 0;
        border-top: 0;
        animation: f-checkbox-animation 0.1s ease-in;

        @keyframes f-checkbox-animation {
          from {
            transform: rotate(45deg) scale(0);
          }

          to {
            transform: rotate(45deg) scale(1);
          }
        }
      }
    }

    // 选中的禁用状态
    &.f-checkbox__disabled {
      border-color: var(--f-design-color-default-3);

      .f-checkbox__text {
        color: var(--f-design-color-default-3);
      }
    }
  }

  &.f-checkbox__indeterminate {
    .f-checkbox__box {
      background: var(--f-design-color-primary-1);
      border: 1px solid var(--f-design-color-primary-1);

      &::after {
        content: '';
        width: 8px;
        height: 2px;
        position: absolute;
        top: calc(50% - 1px);
        animation: f-checkbox-animation2 0.1s ease-in;
        background-color: var(--f-design-color-text-2);

        @keyframes f-checkbox-animation2 {
          from {
            transform: scale(0);
          }

          to {
            transform: scale(1);
          }
        }
      }
    }
  }

  // 禁用状态
  &.f-checkbox__disabled {
    cursor: not-allowed;

    .f-checkbox__text {
      color: var(--f-design-color-default-3);
    }

    .f-checkbox__box {
      border-color: var(--f-design-color-default-3);
      background: #f4f4f4;

      &::after {
        border-color: var(--f-design-color-default-3);
      }
    }
  }
}
