.f-design-ripples {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  border-radius: 50%;
  animation: f-ripples 0.7s linear infinite;
  background: #fff;
  background: red;
}

@keyframes f-ripples {
  from {
    width: 0px;
    height: 0px;
    opacity: 0.5;
  }

  to {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}
