@use './root';

.f-close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  box-sizing: border-box;
  user-select: none;
  transition: var(--f-design-transition-time);
  color: var(--f-close-btn-color, var(--f-design-color-primary-1));

  // 圆角的
  &.f-close-btn__round {
    border-radius: var(--f-design-border-radius-2);
  }

  &:not([class~='f-close-btn__disabled']):hover {
    opacity: 0.8;
    background: var(--f-design-color-border-3);
    color: var(--f-close-btn-hover-color, var(--f-design-color-danger-1));
  }

  &:not([class~='f-close-btn__disabled']):active {
    opacity: 1;
  }

  // 禁用状态
  &__disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}
