@use './root';

.f-close-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 2px;
  box-sizing: border-box;
  transition: 0.3s;
  user-select: none;
  color: var(--f-close-btn-color, var(--f-design-color-primary-1));

  // 圆角的
  &.f-close-btn__round {
    border-radius: var(--f-design-border-radius-2);
  }

  &:hover {
    opacity: 0.6;
    background: var(--f-design-color-border-1);
    color: var(--f-close-btn-color, var(--f-design-color-primary-1));
  }

  &:active {
    opacity: 1;
    color: var(--f-close-btn-color, var(--f-design-color-primary-1));
  }

  // 禁用状态
  &__disabled {
    cursor: not-allowed;
    color: var(--f-close-btn-color, var(--f-design-color-primary-1));
    opacity: 0.4;

    &:hover,
    &:active {
      color: var(--f-close-btn-color, var(--f-design-color-primary-1));
      opacity: 0.4;
      background: none;
    }
  }
}

// 禁用状态
// .f-close-btn__disabled {
//   cursor: not-allowed;
//   color: var(--f-design-color-primary-6);
// }
