.f-count-down {
  --count-down-font-size: 18px;
  --count-down-font-color: #1d1d1f;
}

.f-count-down {
  display: inline-block;
  margin: 5px;

  .f-count-down__text {
    color: var(--count-down-font-color);
    font-size: var(--count-down-font-size);
  }
}
