@use './root';

.f-dialog {
  z-index: 999;
  width: 521px;
  border-radius: 4px;
  display: inline-flex;
  flex-direction: column;
  background: var(--f-design-color-text-2);
  border: 1px solid var(--f-design-color-border-1);

  // 头部
  &__header {
    padding: 12px 14px;
    text-align: center;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid var(--f-design-color-border-1);

    &-title {
      font-size: 15px;
      color: var(--f-design-color-text-1);
    }

    .f-close-btn {
      position: absolute;
      right: 15px;
    }
  }

  // 身体
  &__body {
    padding: 15px;
    box-sizing: border-box;
    flex: 1;
  }

  // 页脚
  &__footer {
    padding: 10px 14px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid var(--f-design-color-border-1);
  }

  // 全屏展示
  &.f-dialog__fullscreen {
    width: 100vw;
    height: 100vh;
  }
}
