.f-divider {
  --divider-type: solid;
  --divider-color: #b0b0b0;
  --divider-background: #fff;
  --divider-font-color: #333;
  --divider-margin: 30px;
  --divider-height: 1em;
}

.f-divider {
  position: relative;
  clear: both;
  width: 100%;
  border: 0;
  white-space: pre;
  border-bottom: 1px solid var(--divider-color);
  margin: var(--divider-margin) 0;
  border-style: var(--divider-type);

  &.f-divider__vertical {
    display: inline-block;
    min-width: 1px;
    max-width: 1px;
    vertical-align: middle;
    margin: 0 12px;
    border-left: 1px solid var(--divider-color);
    height: var(--divider-height);
  }

  // 分割线上的文字
  &__text {
    position: absolute;
    top: 50%;
    box-sizing: border-box;
    padding: 0 0.5rem;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
    color: var(--divider-font-color);
    background-color: var(--divider-background);
  }

  // 不同偏移位置
  &__center .f-divider__text {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__left .f-divider__text {
    left: 5%;
    transform: translateY(-50%);
  }

  &__right .f-divider__text {
    right: 5%;
    transform: translateY(-50%);
  }
}
