@import '../config/const-color.scss';

.f-drawer-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;

  // 遮罩层
  &.f-drawer-mask-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  // 弹窗
  .f-drawer {
    position: absolute;
    box-sizing: border-box;
    background: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%),
      0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%);
    overflow: hidden;
    outline: 0;

    .f-drawer-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #72767b;
      padding: 20px;
      padding-bottom: 0;

      .f-icon-close {
        cursor: pointer;

        &:hover {
          background: #eee;
          color: $primary;
        }
      }
    }

    .f-drawer-body {
      padding: 20px;
      overflow: auto;
      box-sizing: border-box;
    }

    &.f-drawer-top {
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
    }
    &.f-drawer-right {
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
    }
    &.f-drawer-left {
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
    }
    &.f-drawer-bottom {
      height: 100%;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

/* 应用于嵌套元素的规则 */
.f-drawer-enter-active .f-drawer,
.f-drawer-enter-active .f-drawer-cover,
.f-drawer-leave-active .f-drawer,
.f-drawer-leave-active .f-drawer-cover {
  transition: all 0.3s ease-in-out;
}

.f-drawer-enter-from .f-drawer-right,
.f-drawer-leave-to .f-drawer-right {
  transform: translateX(100%);
}

.f-drawer-enter-from .f-drawer-left,
.f-drawer-leave-to .f-drawer-left {
  transform: translateX(-100%);
}

.f-drawer-enter-from .f-drawer-top,
.f-drawer-leave-to .f-drawer-top {
  transform: translateY(-100%);
}

.f-drawer-enter-from .f-drawer-bottom,
.f-drawer-leave-to .f-drawer-bottom {
  transform: translateY(100%);
}

.f-drawer-enter-from .f-drawer-cover,
.f-drawer-leave-to .f-drawer-cover {
  opacity: 0;
}
/* 延迟嵌套元素的进入以获得交错效果 */
.f-drawer-enter-active .f__drawer,
.f-drawer-enter-active .f-drawer-cover {
  transition-delay: 0.1s;
}
