.f__drawer__wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;

  .f__drawer__cover {
    background-color: rgba(0,0,0,0.5)
  }
  .f__drawer__container {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2020;

    .f__drawer {
      position: absolute;
      box-sizing: border-box;
      background-color: #fff;
      display: flex;
      flex-direction: column;
      box-shadow: 0 8px 10px -5px rgb(0 0 0 / 20%), 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%);
      overflow: hidden;
      outline: 0;
    }
    .top {
      height: 100%;
      top: 0;
      bottom: 0;
    }
    .right {
      height: 100%;
      top: 0;
      bottom: 0;
      right: 0;
    }
  }
}

/* 应用于嵌套元素的规则 */
.drawer-enter-active .f__drawer,
.drawer-leave-active .f__drawer {
  transition: all .3s ease-in-out;
}
.drawer-enter-from .f__drawer,
.drawer-leave-to .f__drawer {
  transform: translateX(100%);
}
/* 延迟嵌套元素的进入以获得交错效果 */
.drawer-enter-active .f__drawer {
  transition-delay: 0.1s;
}
