@use './root';

.f-dropdown-item {
  padding: 8px 13px;
  font-size: 15px;
  cursor: pointer;
  margin: 4px;
  transition: background 0.3s;
  user-select: none;
  color: var(--f-design-color-text-1);
  background: var(--f-design-color-text-2);

  &:hover {
    background: var(--f-design-color-border-1);
  }

  // 禁用
  &__disabled {
    cursor: not-allowed;
    color: #afafaf;

    &:hover {
      background: none;
    }
  }
}
