@use './root';

.f-dropdown-item {
  padding: 8px 13px;
  font-size: 15px;
  cursor: pointer;
  margin: 4px;
  user-select: none;
  transition: background var(--f-design-transition-time);
  color: var(--f-design-color-text-1);
  background: var(--f-design-color-text-2);

  &:not([class~='f-dropdown-item__disabled']):hover {
    background: var(--f-design-color-border-1);
  }

  // 禁用
  &__disabled {
    cursor: not-allowed;
    color: #afafaf;
  }
}
