.f-dropdown-item {
  padding: 8px 13px;
  font-size: 14px;
  cursor: pointer;
  margin: 4px;
  user-select: none;
  transition: background 0.3s;
  color: #333;
  background-color: #fff;

  &:not([class~='f-dropdown-item__disabled']):hover {
    background-color: #eee;
  }

  // 禁用
  &__disabled {
    cursor: not-allowed;
    color: #afafaf;
  }
}
