.f-empty {
  display: inline-flex;
  padding: 8px 20px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--empty-background);

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // 描述文字
  &__content {
    margin: 8px 0px;
    font-weight: 500;
    color: var(--empty-content-color, #7f7f7f);
    font-size: var(--empty-content-size, 15px);
  }

  &__footer {
    margin: 10px 0px;
  }
}
