.f-expand-card {
  display: flex;
  height: 300px;

  // 子元素
  &__item {
    flex: 0.5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    margin: 10px;
    position: relative;
    transition: flex 0.5s ease-in;
    overflow: hidden;
    color: var(--f-design-color-text-2);

    // 圆角
    &.f-expand-card__round {
      border-radius: var(--f-design-border-radius-2);
    }

    .f-expand-card__title {
      font-size: 16px;
      position: absolute;
      bottom: 20px;
      left: 20px;
      transition: opacity 0.2s;
      opacity: 0;
      color: var(--f-design-color-text-2);
    }

    &.f-expand-card__active {
      flex-grow: 3;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .f-expand-card__title {
        opacity: 1;
      }
    }
  }
}
