.f-form-item {
  position: relative;
  padding-bottom: 20px;
  display: flex;
  align-items: center;

  // label
  &__label {
    width: var(--f-form-item-label-width, 90px);
    text-align: right;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 16px;
  }

  // 主内容
  &__content {
    flex: 1;
    display: flex;
    flex-direction: column;

    // 错误信息
    .f-form-item__error {
      font-size: 12px;
      position: absolute;
      bottom: 3px;
      line-height: 1;
      color: var(--f-design-color-danger-1);
    }
  }
}
