.f-image {
  position: relative;
  vertical-align: top;
  display: inline-block;
  width: var(--image-width);
  height: var(--image-height);
  border-radius: var(--image-round);

  &__img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: var(--image-round);
  }

  // 禁止选中
  &.f-image__select {
    user-select: none;
  }

  // 适应容器方式
  &__fill .f-image__img {
    object-fit: fill;
  }

  &__contain .f-image__img {
    object-fit: contain;
  }

  &__cover .f-image__img {
    object-fit: cover;
  }

  &__none .f-image__img {
    object-fit: none;
  }

  &__scale-down .f-image__img {
    object-fit: scale-down;
  }

  &__block {
    display: block;
  }
}

// 加载失败
.f-image__error {
  display: inline-block;

  .f-image__error-text {
    padding: 0 3px;
    border-radius: 3px;
    font-size: 12px;
    background-color: #eee;
    color: #333;
  }
}
