.f-image {
  display: inline-block;

  .f-image-select {
    user-select: none;
  }

  // 适应容器方式
  .f-image-fill {
    object-fit: fill;
  }

  .f-image-contain {
    object-fit: contain;
  }

  .f-image-cover {
    object-fit: cover;
  }

  .f-image-none {
    object-fit: none;
  }

  .f-image-scale-down {
    object-fit: scale-down;
  }
}

.f-image-block {
  display: block;
}

// 预览图
.f-image-preview {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.3);
  .right_button,
  .left_button,
  .close_button {
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .left_button {
    left: 30px;
    top: 0;
    bottom: 0;
  }
  .right_button {
    right: 30px;
    top: 0;
    bottom: 0;
  }
  .close_button {
    right: 30px;
    top: 30px;
  }
  // 预览图
  .option {
    width: 270px;
    height: 40px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 25px;
    margin: auto;
    .f-icon {
      cursor: pointer;
    }
  }
  .f-image-showImg {
    user-select: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    transition: .2s;
  }
}
