.f-infinite-scrolling {
  width: 100%;
  height: 300px;
  overflow: hidden;
  overflow-y: scroll;

  &__loading {
    height: 40px;
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    color: black;
  }
}
