@import '../config/const-color.scss';
@import '../config/const-size.scss';

.f-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 35px;
  width: 100%;

  // 主容器
  &__wrapper {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3px 7px;
    box-sizing: border-box;
    transition: 0.3s;
    background: #eee;
    height: 100%;
    border: 1px solid transparent;

    .f-input__icon {
      color: #333;
    }

    // 输入框
    .f-input__input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      background: none;
      margin: 0 5px;
      color: #333;
      font-size: 14px;
    }

    // 清楚按钮
    .f-input__show-password,
    .f-input__clear-btn {
      cursor: pointer;
      color: rgb(195, 195, 195);
    }

    &:focus-within {
      background: #fff;
      border-color: $primary;
    }
  }

  // 搜索
  &__search {
    cursor: pointer;

    .f-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // 禁用状态
  &__disabled {
    cursor: not-allowed;

    .f-input__clear-btn,
    .f-input__input {
      cursor: not-allowed;
      color: rgb(117, 117, 117);
    }
  }

  // 不同尺寸
  &.f-input__large {
    height: $large;

    .f-input__input {
      font-size: 15px;
    }
  }

  &.f-input__middle {
    height: $middle;

    .f-input__input {
      font-size: 14px;
    }
  }

  &.f-input__small {
    height: $small;

    .f-input__input {
      font-size: 13px;
    }
  }

  &.f-input__mini {
    height: $mini;

    .f-input__input {
      font-size: 12px;
    }
  }
}
