@import '../config/const-type.scss';
@import '../config/const-size.scss';

.f-input-number {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: 35px;
  width: 100%;

  // 禁用原生右侧上下选择箭头
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }

  .f-input-number__minus,
  .f-input-number__plus {
    width: 35px;
    height: 100%;
    display: inline-block;
    background: #2d5af1 no-repeat center;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    box-shadow: 0 1px rgba(100, 100, 100, 0.1);
    color: #fff;
    transition: color 0.2s, background-color 0.2s;
    cursor: pointer;
  }

  .f-input-number__minus:active,
  .f-input-number__plus:active {
    box-shadow: inset 0 1px rgba(100, 100, 100, 0.1);
  }

  .f-input-number__minus:hover,
  .f-input-number__plus:hover {
    background-color: #1c45c9;
    color: rgb(241, 228, 228);
  }

  .f-input-number__minus {
    background-image: linear-gradient(to top, currentColor, currentColor);
    background-size: 10px 2px;
  }

  .f-input-number__plus {
    background-image: linear-gradient(to top, currentColor, currentColor),
      linear-gradient(to top, currentColor, currentColor);
    background-size: 10px 2px, 2px 10px;
  }

  i.f-input-number__disabled {
    cursor: not-allowed;
  }

  &__wrapper {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 7px;
    box-sizing: border-box;
    transition: 0.3s;
    background: #eee;
    height: 100%;
    border: 1px solid transparent;

    // 数字输入框
    .f-input-number__input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      background: none;
      margin: 0 5px;
      color: #333;
      font-size: 14px;
      cursor: pointer;
    }

    // switch 按钮
    .f-input-number__switch {
      display: inline-flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 30px;
      height: 100%;
      background: #ccc;
      cursor: pointer;

      .f-input-number__switch-up,
      .f-input-number__switch-down {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50%;
        .f-input-number__switch-up-icon,
        .f-input-number__switch-down-icon {
          width: 6px;
          height: 6px;
          border-top: 1px solid #333;
          border-right: 1px solid #333;
          transform: rotate(-45deg);
          margin-top: 6px;
        }
        .f-input-number__switch-down-icon {
          transform: rotate(135deg);
          margin-bottom: 6px;
        }
      }
      .f-input-number__switch-up:hover .f-input-number__switch-up-icon {
        border-color: var(--f-design-color-primary-1);
      }
      .f-input-number__switch-down:hover .f-input-number__switch-down-icon {
        border-color: var(--f-design-color-primary-1);
      }

      &.f-input-number__disabled {
        cursor: not-allowed;
      }
    }

    // 清除按钮
    .f-input-number__clear-btn {
      cursor: pointer;
      color: #c3c3c3;
      margin-right: 8px;
    }

    &:focus-within {
      background: var(--f-design-color-text-2);
      border-color: var(--f-design-color-primary-1);
    }
  }

  // 禁用状态
  &__disabled {
    cursor: not-allowed;
    .f-input-number__clear-btn,
    .f-input-number__input {
      cursor: not-allowed !important;
      color: #757575;
    }
  }

  // 不同尺寸
  @for $list from 1 to (length($ComponentsSize) + 1) {
    $item: nth($ComponentsSize, $list); // 获取数组中第i项的值

    &.f-input-number__#{map-get($item, name)} {
      height: map-get($item, height);

      .f-input-number__input {
        font-size: map-get($item, fontSize);
      }
    }
  }
}
