@import '../config/var-input';

.f-input {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  height: var(--input-height);
  width: var(--input-width);

  // 主容器
  &__wrapper {
    display: inline-flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 3px 7px;
    box-sizing: border-box;
    height: 100%;
    border: 1px solid transparent;
    transition: 0.3s;
    background-color: var(--input-background);

    .f-input__icon {
      color: #333;
    }

    // 输入框
    .f-input__input {
      height: 100%;
      width: 100%;
      border: none;
      outline: none;
      background: none;
      margin: 0 5px;
      font-size: var(--input-font-size, 14px);
      cursor: pointer;
      color: var(--input-text-color);
      user-select: none;

      // 禁用原生右侧上下选择箭头
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      &[type='number'] {
        -moz-appearance: textfield;
      }

      // 占位符颜色
      &::placeholder {
        color: var(--input-placeholder-color, #b1b1b1);
      }
    }

    // 清楚按钮
    .f-input__show-password,
    .f-input__clear-btn {
      cursor: pointer;
      color: #c3c3c3;
    }

    &:focus-within {
      background-color: var(--input-active-background);
      border-color: var(--input-active-border-color);
    }
  }

  // 搜索
  &__search {
    cursor: pointer;

    .f-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  // 禁用状态
  &__disabled {
    cursor: not-allowed;

    .f-input__input {
      cursor: not-allowed;
      color: #757575;
    }

    .f-input__clear-btn {
      cursor: not-allowed;
    }
  }
}
