@import '../config/const-color.scss';

.f-link {
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  line-height: 1;
  color: $primary;

  &.f-icon {
    font-size: 15px;
  }

  &:hover {
    opacity: 0.8;
  }

  // 不同类型
  @for $list from 1 to (length($allTypeColorList) + 1) {
    $item: nth($allTypeColorList, $list); // 获取数组中第i项的值

    // 不同类型
    &.f-link-#{map-get($item, name)} {
      color: map-get($item, simpleTextColor);
    }
  }

  // 不同样式
  &.f-link-line {
    text-decoration: underline;
  }

  &.f-link-bag:hover {
    background: #eee;
    border-radius: 2px;
  }

  // 禁止 copy
  &.f-link-noCopy {
    user-select: none;
  }

  // 禁用
  &.f-link-prohibit {
    opacity: 0.5;
    cursor: not-allowed;

    &.f-link-bag {
      &:hover {
        background: none;
      }
    }
  }
}
