@import '../config/var-link.scss';

.f-link {
  cursor: pointer;
  font-size: 15px;
  display: inline-block;
  text-decoration: none;
  transition: 0.3s;
  line-height: 1;
  color: $primary;
  &.f-icon {
    font-size: 15px;
  }
  &:hover {
    opacity: 0.8;
  }

  // 不同类型
  @each $key, $value in $LinkTypes {
    &.f-link-#{$key} {
      color: $value;
    }
  }
  // 不同样式
  &.f-link-line {
    text-decoration: underline;
  }

  &.f-link-bag:hover {
    background: #eee;
    border-radius: 2px;
  }

  // 禁止 copy
  &.f-link-noCopy {
    user-select: none;
  }

  // 禁用
  &.f-link-prohibit {
    opacity: 0.5;
    cursor: not-allowed;
    &.f-link-bag {
      &:hover {
        background: none;
      }
    }
  }
}
