.f-list-item {
  padding: 7px 16px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  border-bottom: 1px solid var(--list-item-border-color, #e3e3e3);
  color: var(--list-item-text-color, #333);
  background: var(--list-item-background, #fff);

  &:last-child {
    border-bottom: none;
  }
}

.f-form-item__err-transition-leave-active,
.f-form-item__err-transition-enter-active {
  transition: all 0.13s ease-out;
}

.f-form-item__err-transition-enter-from,
.f-form-item__err-transition-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
