@import '../config/var-list.scss';

.f-list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  // max height
  &.f-list-scroll {
    overflow: scroll;
  }

  &.f-list-split {
    border: 1px solid #e3e3e3;
  }

  &.f-list-show-number {
    counter-reset: li; // 创建计数器
    & > li {
      position: relative;
      padding-left: 2rem !important;
    }
    & > li::before {
      content: counter(li) '.';
      counter-increment: li; // 递增计数器
      position: absolute;
      left: 1rem;
      color: #333333;
    }
  }

  &.f-list-show-disc {
    & > li {
      position: relative;
      padding-left: 2rem !important;
    }
    & > li::before {
      content: '·';
      position: absolute;
      font-size: 26px;
      left: 1rem;
      color: #333333;
    }
  }
}

// 子组件
.f-list-item {
  min-height: $middle;
  color: #333333;
  background-color: #ffffff;
  font-size: 14px;
  flex-wrap: nowrap;
  padding: 12px;

  &.f-list-item-base-border {
    border: 1px solid #e3e3e3;
    &:not(:last-child) {
      border-bottom: 1px solid #ffffff;
    }
  }

  // 不同尺寸
  @for $list from 1 to (length($listSize) + 1) {
    $item: nth($listSize, $list); // 获取数组中第i项的值

    &.f-list-item-#{map-get($item, name)} {
      min-height: map-get($item, height);
      padding: map-get($item, padding);
      line-height: map-get($item, height);
      font-size: map-get($item, fontSize);
    }
  }

  // 斑马线
  &.f-list-item-zebra {
    &:nth-of-type(2n) {
      background-color: #ecf0fe;
    }
  }

  // 单行显示
  &.f-list-item-single {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  // max height
  &.f-list-item-scroll {
    overflow: scroll;
  }

  // hover
  &.f-list-item-hover {
    &:hover,
    &:focus {
      outline: none;
    }

    &:hover {
      border-color: #325ef1;
    }
  }

  // 文字居中
  &.f-list-item-center {
    text-align: center;
  }
}
