.f-list__large {
  --list-item-height: 40px;
  --list-item-font-size: 16px;
}
.f-list__middle {
  --list-item-height: 35px;
  --list-item-font-size: 15px;
}
.f-list__small {
  --list-item-height: 30px;
  --list-item-font-size: 14px;
}
.f-list__mini {
  --list-item-height: 25px;
  --list-item-font-size: 13px;
}

.f-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-y: auto;
  height: var(--list-max-height);
  border: 1px solid var(--list-border-color, #e3e3e3);

  &__header {
    border-bottom: 1px solid var(--list-border-color, #e3e3e3);
  }

  &__header,
  &__footer {
    padding: 20px;
    box-sizing: border-box;
  }

  // 斑马纹
  &.f-list__zebra {
    .f-list-item:nth-of-type(2n) {
      background-color: var(--list-zebra-color, #ecf0fe);
    }
  }

  // 居中显示
  &.f-list__center {
    .f-list-item {
      justify-content: center;
    }
  }

  // 不同尺寸
  &-item {
    min-height: var(--list-item-height);
    font-size: var(--list-item-font-size);
  }

  // 滚动条
  &::-webkit-scrollbar {
    width: 7px;
  }

  // 滚动滑块
  &::-webkit-scrollbar-thumb {
    background-color: #ddd;
    border-radius: 6px;
  }
}
