@import '../config/var-list.scss';

.f-list {
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid #e3e3e3;
  overflow-y: auto;

  // 斑马纹
  &.f-list-zebra {
    .f-list-item:nth-of-type(2n) {
      background: #ecf0fe;
    }
  }

  // 居中显示
  &.f-list-center {
    .f-list-item {
      justify-content: center;
    }
  }

  // 不同尺寸
  @for $list from 1 to (length($listSize) + 1) {
    $item: nth($listSize, $list); // 获取数组中第i项的值

    &.f-list-#{map-get($item, name)} {
      .f-list-item {
        min-height: map-get($item, height);
        font-size: map-get($item, fontSize);
      }
    }
  }
}

// 子组件
.f-list-item {
  border-bottom: 1px solid #e3e3e3;
  color: #333;
  background: #fff;
  font-size: 14px;
  flex-wrap: nowrap;
  padding: 7px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &:last-child {
    border-bottom: none;
  }
}
