@import '../config/const-color.scss';

.f-loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
  opacity: 0.7;
  color: $primary;

  &__animation {
    animation: f-loading-component 1s linear infinite;
    -webkit-animation: f-loading-component 1s linear infinite;
  }

  &__title {
    font-size: 15px;
    margin-top: 5px;
  }

  @keyframes f-loading-component {
    0% {
      width: 22px;
      transform: rotate(0deg);
    }

    100% {
      width: 22px;
      transform: rotate(360deg);
    }
  }
}
