@import './_root.scss';

.f-loading-bar {
  position: fixed;
  z-index: 100;
  height: 3px;
  top: 0;
  left: 0;
  width: 0%;
  animation: loading 3s linear both;
  background: var(--f-design-color-primary-1);

  &.f-loading-bar__finish {
    width: 100%;
    background: var(--f-design-color-success-1);
    animation: loadingFinish ease-in-out 1.4s both;
  }

  &.f-loading-bar__error {
    width: 100%;
    background: var(--f-design-color-danger-1);
    animation: loadingFinish ease-in-out 1.4s both;
  }
}

@keyframes loadingFinish {
  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 75%;
  }
}
