@import '../config/const-color.scss';

.f-loading-bar {
  position: fixed;
  z-index: 100;
  height: 2px;
  top: 0;
  left: 0;
  width: 0%;
  background: $primary;
  animation: loading 3s linear both;

  &.f-loading-bar-finish {
    width: 100%;
    background: $success;
    animation: loadingFinish 1.4s both;
  }

  &.f-loading-bar-error {
    width: 100%;
    background: $danger;
    animation: loadingFinish 1.4s both;
  }
}

@keyframes loadingFinish {
  100% {
    width: 100%;
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    width: 0%;
  }

  100% {
    width: 70%;
  }
}
