.f-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;

  .f-mask-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: rgba(35, 39, 46);
  }

  .f-mask-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .f-mask-wrapper {
      background: #fff;
      border-radius: 6px;
      box-sizing: border-box;
      max-height: 90%;
      overflow-y: auto;
      box-shadow: 0 0 18px rgb(0 0 0 / 40%);
    }
  }
}
