.f-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  margin: 0;

  // 遮罩层
  &.f-mask-modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    margin: 0;
    background: rgba(0, 0, 0, 0.3);
  }
}

.f-mask-enter-active,
.f-mask-leave-active {
  transition: opacity 0.5s ease;
}

.f-mask-enter-from,
.f-mask-leave-to {
  opacity: 0;
}
