.f-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;

  .f-mask-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(35, 39, 46, 0.5);

    .f-mask-wrapper {
      background: #fff;
      border-radius: 3px;
      box-sizing: border-box;
      max-height: 90%;
      overflow-y: auto;
    }
  }
}
