@use './root';

.f-menu {
  display: flex;
  border: 1px solid #ccc;
  background: var(--f-design-color-text-2);
  width: 100%;

  // 水平排列
  &.f-menu__horizontal {
    height: 60px;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;

    // 前缀插槽
    .f-menu__before {
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    // 主要内容
    .f-menu__content {
      display: flex;
      align-items: center;
      height: 100%;
      margin: 0 20px;
    }

    // 后缀插槽
    .f-menu__after {
      height: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }

  // 垂直排列
  &.f-menu__vertical {
    flex-direction: column;
    box-sizing: border-box;

    // 前缀插槽
    .f-menu__before {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    // 主要内容
    .f-menu__content {
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    // 后缀插槽
    .f-menu__after {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
  }
}
