@use './root';

.f-menu-item {
  display: flex;
  padding: 7px 16px;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  height: 50px;
  transition: background var(--f-design-transition-time);

  // icon
  .f-svg-icon {
    margin-right: 5px;
  }

  // 文字内容
  .f-svg-icon,
  .f-menu-item__text {
    transition: color var(--f-design-transition-time);
    font-size: var(--f-menu-item-font-size, var(--f-design-font-size-middle));
    color: var(--f-menu-item-font-color, var(--f-design-color-text-1));
  }

  // 选中的
  &.f-menu-item__active {
    .f-svg-icon,
    .f-menu-item__text {
      color: var(--f-design-color-primary-1);
    }
  }

  // 鼠标移入
  &:hover {
    background: var(--f-design-color-primary-4);
  }

  // 禁用状态
  &.f-menu-item__disabled {
    opacity: 0.5;
    cursor: not-allowed;

    .f-menu-item__text {
      color: #333;
    }

    &:hover {
      background: none;
    }
  }
}
