@import '../config/var-notification';

.f-notification {
  position: fixed;
  padding: 13px 20px;
  font-size: 14px;
  min-width: 300px;
  max-width: 500px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  box-shadow: #ededed 1px 1px 7px, #ededed -1px -1px 7px;
  transition: all 0.4s ease-out;
  z-index: var(--notification-z-index, 4000);
  background: var(--notification-background, #fff);
  color: var(--notification-color);

  &.f-notification__round {
    border-radius: 20px;
  }

  &.f-notification__top {
    left: 50%;
    transform: translateX(-50%);
  }

  &.f-notification__top-left {
    left: 20px;
  }

  &.f-notification__top-right {
    right: 20px;
  }

  &.f-notification__bottom {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  &.f-notification__bottom-left {
    left: 20px;
    bottom: 0;
  }

  &.f-notification__bottom-right {
    right: 20px;
    bottom: 0;
  }

  // 前缀 icon
  &__icon {
    margin-right: 10px;
  }

  // 主要内容
  &__content {
    padding-right: 21px;

    // 标题
    .f-notification__title {
      margin: 0;
      margin-bottom: 10px;
      color: #19191a;
      font-weight: 500;
      font-size: 18px;
    }

    // 内容
    .f-notification__message {
      font-size: 15px;
      color: #4a4a4d;
      font-weight: 500;
    }
  }

  // 关闭按钮
  &__close {
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &-fade-right-enter-active,
  &-fade-left-enter-active {
    transition: all 0.15s ease-out;
  }

  &-fade-right-leave-active,
  &-fade-left-leave-active {
    transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
  }

  &-fade-right-enter-from,
  &-fade-right-leave-to {
    opacity: 0;
    transform: translateX(100%);
  }

  &__right.f-notification-fade-right-enter-from,
  &__right.f-notification-fade-right-leave-to {
    opacity: 0;
    transform: translate(-50%, -100%);
  }

  &-fade-left-enter-from,
  &-fade-left-leave-to {
    opacity: 0;
    transform: translateX(-100%);
  }

  &__left.f-notification-fade-left-enter-from,
  &__left.f-notification-fade-left-leave-to {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}
