@import '../config/const-color.scss';

.f-notification {
  position: fixed;
  transition: opacity 0.3s, top 0.4s;
  padding: 13px 15px;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: rgb(237 237 237) 1px 1px 7px, rgb(237 237 237) -1px -1px 7px;
  max-width: 500px;
  transition: all 0.4s ease-out;
  background: #fff;

  @for $list from 1 to (length($allTypeColorList) + 1) {
    $item: nth($allTypeColorList, $list);

    &.f-notification__#{map-get($item, name)} .f-notification__icon {
      color: map-get($item, simpleTextColor);
    }
  }

  &.f-notification__round {
    border-radius: 20px;
  }

  &.f-notification__top {
    left: 50%;
    transform: translateX(-50%);
  }

  &.f-notification__top-left {
    left: 20px;
  }

  &.f-notification__top-right {
    right: 20px;
  }

  &.f-notification__bottom {
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
  }

  &.f-notification__bottom-left {
    left: 20px;
    bottom: 0;
  }

  &.f-notification__bottom-right {
    right: 20px;
    bottom: 0;
  }

  &__close {
    cursor: pointer;
    text-align: center;
    padding: 0 12px;
    flex-shrink: 0;
  }

  &__icon {
    margin-right: 8px;
  }

  &__title-text {
    margin: 0;
    margin-bottom: 2px;
    font-size: 16px;
  }
}

.f-notification-fade-right-enter-active,
.f-notification-fade-left-enter-active {
  transition: all 0.15s ease-out;
}

.f-notification-fade-right-leave-active,
.f-notification-fade-left-leave-active {
  transition: all 0.15s cubic-bezier(1, 0.5, 0.8, 1);
}

.f-notification-fade-right-enter-from,
.f-notification-fade-right-leave-to {
  opacity: 0;
  transform: translateX(100%);
}

.f-notification__right.f-notification-fade-right-enter-from,
.f-notification__right.f-notification-fade-right-leave-to {
  opacity: 0;
  transform: translate(-50%, -100%);
}

.f-notification-fade-left-enter-from,
.f-notification-fade-left-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}

.f-notification__left.f-notification-fade-left-enter-from,
.f-notification__left.f-notification-fade-left-leave-to {
  opacity: 0;
  transform: translate(-50%, 100%);
}
