@import '../config/const-color.scss';

.f-novel-coronavirus {
  user-select: none;
  cursor: pointer;
  background: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px 11px;
  border-radius: 3px;
  border: 1px solid $primary;
  box-shadow: 2px 2px 5px #eee, -2px -2px 5px #eee;

  .f-novel-coronavirus-title {
    color: #333;
    font-size: 12px;
  }

  .f-novel-coronavirus-time {
    font-weight: bold;
    color: $success;
  }
}
