.f-page-header {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 30px;
  background: #fff;

  // 后退
  &__left {
    height: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    border-right: 1px solid #d9d9d9;
    color: #333;

    // 返回文字
    .f-page-header__text {
      font-size: 14px;
      margin-left: 3px;
    }
  }

  // 主体
  &__main {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;

    // 居中
    &.f-page-header__main-center {
      justify-content: center;
    }

    // 标题
    .f-page-header__main-title {
      font-size: 17px;
      color: #333;

      &.f-page-header__main-title-bold {
        font-weight: bold;
      }
    }

    // 副标题
    &__main-subtitle {
      margin-left: 10px;
      font-size: 16px;
      color: #adadad;
    }
  }
}
