@use './root';

.f-pagination {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  user-select: none;

  &__prev-more > *,
  &__next-more > * {
    pointer-events: none;
  }

  // 分页主体
  &__pages {
    display: flex;
    list-style-type: none;
    padding-left: 0;

    // 默认的每一项
    .f-pagination__pages-item {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 34px;
      height: 34px;
      font-size: 16px;
      cursor: pointer;
      color: var(--f-design-color-text-1);

      // 选中状态
      &-active {
        color: var(--f-design-color-primary-1);
      }
    }

    // 圆角的
    &.f-pagination__pages-round {
      .f-pagination__pages-item {
        border-radius: 50%;
      }
    }

    // 带有背景色的
    &.f-pagination__pages-background {
      // 带有背景色的每一项元素
      .f-pagination__pages-item {
        margin: 0 5px;
        background: #f8f8f8;

        // 选中状态
        &-active {
          color: #fff;
          background: var(--f-design-color-primary-1);
        }
      }
    }

    // 禁用状态
    &.f-pagination__pages-disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }

  &__jump {
    width: 145px;
    margin-left: 10px;
  }
}
