.f-popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2000;

  // 遮罩层
  .f-popup-mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    background: rgba(35, 39, 46);

    // 高斯谋划
    &.f-popup-blur {
      backdrop-filter: blur(2px);
    }
  }

  // 主容器公共样式
  .f-popup-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: 0.3s;

    .f-popup-wrapper {
      position: absolute;
      background: #fff;
      box-sizing: border-box;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  // 主容器居中
  .f-popup-container-center {
    display: flex;
    justify-content: center;
    align-items: center;

    .f-popup-wrapper {
      border-radius: 6px;
      max-height: 90%;
      box-shadow: 0 0 18px rgb(0 0 0 / 40%);
    }
  }

  // 主容器左侧
  .f-popup-container-left {
    .f-popup-wrapper {
      top: 0;
      bottom: 0;
      left: 0;
    }
  }

  // 主容器右侧
  .f-popup-container-right {
    .f-popup-wrapper {
      top: 0;
      bottom: 0;
      right: 0;
    }
  }

  // 主容器上侧
  .f-popup-container-top {
    .f-popup-wrapper {
      top: 0;
      left: 0;
      right: 0;
      height: 30%;
    }
  }

  // 主容器下侧
  .f-popup-container-bottom {
    .f-popup-wrapper {
      left: 0;
      bottom: 0;
      right: 0;
    }
  }

  // 滚动条
  ::-webkit-scrollbar {
    width: 7px;
  }

  // 滚动滑块
  ::-webkit-scrollbar-thumb {
    background: #dddddd;
    border-radius: 6px;
  }
}

// 居中
.f-popup-center-enter-active {
  transition: all 0.2s ease-out;
}

.f-popup-center-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.f-popup-center-enter-from,
.f-popup-center-leave-to {
  transform: translateY(-20px);
  opacity: 0;
}

// 其它方向
.f-popup-other-enter-active,
.f-popup-other-leave-active {
  transition: all 0.3s ease-out;
}

.f-popup-other-enter-from .f-popup-container-right,
.f-popup-other-leave-to .f-popup-container-right {
  transform: translateX(100%);
}

.f-popup-other-enter-from .f-popup-container-left,
.f-popup-other-leave-to .f-popup-container-left {
  transform: translateX(-100%);
}

.f-popup-other-enter-from .f-popup-container-top,
.f-popup-other-leave-to .f-popup-container-top {
  transform: translateY(-100%);
}

.f-popup-other-enter-from .f-popup-container-bottom,
.f-popup-other-leave-to .f-popup-container-bottom {
  transform: translateY(100%);
}

.f-popup-other-enter-from .f-popup-container,
.f-popup-other-leave-to .f-popup-container {
  opacity: 0;
}
