.f-popup {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: var(--popup-z-index, 2000);

  // 遮罩层
  &__mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: var(--popup-mask-opacity, 0.4);
    background-color: var(--popup-mask-background, #000);
  }

  // 高斯模糊遮罩层
  &__mask-blur .f-popup__mask {
    backdrop-filter: blur(2px);
  }

  // 主容器公共样式
  &__container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1999;
    transition: 0.3s;
    overflow: auto;
    
    // 主容器
    .f-popup__wrapper {
      position: absolute;
      box-sizing: border-box;
      background-color: #fff;
      width: var(--popup-width);
      height: var(--popup-height);
      padding: var(--popup-padding);

      // 主内容动画样式
      &-transition-enter-active,
      &-transition-leave-active {
        transition: all 0.2s ease-out;
      }

      &-transition-enter-from,
      &-transition-leave-to {
        opacity: 0;
      }
    }
  }

  &__fullscreen.f-popup__center .f-popup__container .f-popup__wrapper,
  &__fullscreen .f-popup__container .f-popup__wrapper {
    max-height: 100vh;
    max-width: 100vw;
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  // 主容器居中
  &__center .f-popup__container {
    text-align: center;

    &::after {
      content: '';
      display: inline-block;
      width: 0;
      height: 100%;
      vertical-align: middle;
    }

    .f-popup__wrapper {
      display: inline-block;

      &-transition-enter-from,
      &-transition-leave-to {
        transform: scale(0.4);
      }
    }
  }

  // 左侧弹出
  &__left .f-popup__container {
    .f-popup__wrapper {
      top: 0;
      bottom: 0;
      left: 0;

      &-transition-enter-from,
      &-transition-leave-to {
        transform: translateX(-100%);
      }
    }
  }

  // 右侧弹出
  &__right .f-popup__container {
    .f-popup__wrapper {
      top: 0;
      bottom: 0;
      right: 0;

      &-transition-enter-from,
      &-transition-leave-to {
        transform: translateX(100%);
      }
    }
  }

  // 上方弹出
  &__top .f-popup__container {
    .f-popup__wrapper {
      top: 0;
      left: 0;
      right: 0;

      &-transition-enter-from,
      &-transition-leave-to {
        transform: translateY(-100%);
      }
    }
  }

  // 下方弹出
  &__bottom {
    .f-popup__wrapper {
      bottom: 0;
      left: 0;
      right: 0;

      &-transition-enter-from,
      &-transition-leave-to {
        transform: translateY(100%);
        opacity: 0;
      }
    }
  }

  // 遮罩层动画
  &__transition-enter-active {
    transition: all 0.2s ease-out;
  }

  &__transition-leave-active {
    transition: all 0.4s cubic-bezier(1, 0.5, 0.8, 1);
  }

  &__transition-enter-from,
  &__transition-leave-to {
    opacity: 0;
  }
}
