@import '../config/const-color.scss';

.f-progress {
  background: #f1f1f1;
  border-radius: 100px;
  overflow: hidden;
  height: 25px;

  &.f-progress-liner {
    height: 6px;
  }

  .f-progress-fill {
    height: 100%;
    transition: 0.3s;
    border-radius: 100px;
    background: $primary;
    text-align: right;
    // line-height: 2;
    // display: inline-flex;
    // align-items: center;

    .f-progress-percentage {
      color: #fff;
      font-size: 12px;
      margin: 0 8px;
    }
  }

  .f-progress-fill-success {
    background: $success;
  }
  .f-progress-fill-danger {
    background: $danger;
  }
  .f-progress-fill-warning {
    background: $warning;
  }
}
