@import '../config/var-progress.scss';
.f-radioLabel {
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  outline: none;
  user-select: none;
  margin-right: 32px;
  height: 32px;

   .f-radio {
    position: absolute;
    opacity: 0;
  }
  .f-radio-inner {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    position: relative;
    background-color: #fff;
    color:#606266;
    border: 1px solid currentColor;
    &::after {
      content: '';
      position: absolute;
      width: 4px;
      height: 4px;
      top: 50%;
      left: 50%;
      border-radius: 50%;

      transform: translate(-50%, -50%) scale(0);
      background-color:#fff;
      transition: transform 0.15s ease-in;
    }
  }
}
.radio-isDisabled {
  cursor: not-allowed;
  
  &.radio-isChecked {
    .f-radio-inner {
      color: #c0c4cc;
      background-color: #606266;
    }
    
  }

}

.radio-isChecked {
  .f-radio-inner {
    &::after {
      transform: translate(-50%, -50%) scale(1);
    }
    background-color: $primary;
  }
}
