.f-radio-group {
  display: inline-flex;
  padding: 2px;
  box-sizing: border-box;
  flex-wrap: wrap;
  transition: 0.3s;
  position: relative;
  vertical-align: top;
  column-gap: var(--radio-group-column-gap, 30px);
  overflow: hidden;

  // 纵向排列
  &.f-radio-group__vertical {
    flex-direction: column;
    row-gap: var(--radio-group-row-gap, 20px);
  }

  // 背景状态
  // 背景状态默认元素之间的间距为 0
  &.f-radio-group__background {
    background: #ececf1;
    flex-wrap: nowrap;
    column-gap: var(--radio-group-column-gap, 0);
    row-gap: var(--radio-group-row-gap, 0);

    .f-radio {
      border-radius: 3px;

      .f-radio__text {
        color: #8e8ea0;
      }

      // 选中的
      &.f-radio__checked {
        background-color: #fff;
        box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);

        .f-radio__text {
          color: #2d5af1;
        }
      }
    }

    // 不同尺寸
    &.f-radio-group__large .f-radio {
      padding: 4px 30px;

      .f-radio__text {
        font-size: 16px;
      }
    }

    &.f-radio-group__middle .f-radio {
      padding: 3px 25px;

      .f-radio__text {
        font-size: 15px;
      }
    }

    &.f-radio-group__small .f-radio {
      padding: 2px 20px;

      .f-radio__text {
        font-size: 14px;
      }
    }

    &.f-radio-group__mini .f-radio {
      padding: 2px 15px;

      .f-radio__text {
        font-size: 12px;
      }
    }
  }
}
