.f-ripple {
  cursor: pointer;
  overflow: hidden;
  position: relative;

  &.f-ripple__select {
    user-select: none;
  }

  // 涟漪效果
  .f-ripple__animation {
    width: 0px;
    height: 100%;
    position: absolute;
    transform: translate(-50%, -100%);
    pointer-events: none;
    border-radius: 10%;
    animation: f-ripples-animation 0.4s linear;
    opacity: var(--f-ripple-start-opacity, 0.5);
    background: #fff;
  }

  @keyframes f-ripples-animation {
    from {
      width: 0px;
      opacity: var(--f-ripple-start-opacity, 0.5);
    }

    to {
      width: 1500px;
      opacity: var(--f-ripple-end-opacity, 0);
      border-radius: 0px;
    }
  }
}
