.f-slider {
  background-color: var(--f-slider-bg-color);

  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 30px;
  &.f-slider__disabled {
    opacity: 0.5;
  }
  cursor: var(--f-slideer-disabled, '');
  .f-slider__icon {
    user-select: none;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: -15px;
    width: 30px;
    height: 30px;
    border: 10px solid #2d5af1;
    border-radius: 50%;
    background-color: #fff;
    cursor: var(--f-slideer-disabled, grab);

    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    &:active {
      cursor: grabbing;
    }
    z-index: 10;
  }
  .f-slider__left__icon {
  }

  .f-slider__right__icon {
  }
  .f-slider__selected {
    height: 100%;
    background-color: red;
    // transition: all .3s;
    border-radius: 30px;
  }
}
