.f-slider {
  position: relative;
  background-color: var(--slider-bg-color, #eee);
  height: 10px;
  width: 100%;
  border-radius: 30px;

  .f-slider__icon {
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    left: -15px;
    width: 30px;
    height: 30px;
    border: 10px solid #2d5af1;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    z-index: 10;

    &:active {
      cursor: grabbing;
    }
  }

  .f-slider__selected {
    height: 100%;
    border-radius: 30px;
    background-color: #2d5af1;
  }

  // 禁用状态
  &.f-slider__disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
