.f-space {
  display: inline-flex;
}
.f-space-align-start {
  align-items: flex-start;
}
.f-space-align-center {
  align-items: center;
}
.f-space-align-end {
  align-items: flex-end;
}
.f-space-align-baseline {
  align-items: baseline;
}
.f-space-wrap {
  flex-wrap: wrap;
}

.f-space-horizontal {
  flex-direction: row;
}
.f-space-vertical {
  flex-direction: column;
}

.f-space-large-horizontal {
  column-gap: 24px;
}
.f-space-large-vertical {
  row-gap: 24px;
}

.f-space-middle-horizontal {
  column-gap: 16px;
}
.f-space-middle-vertical {
  row-gap: 16px;
}

.f-space-small-horizontal {
  column-gap: 8px;
}
.f-space-small-vertical {
  row-gap: 8px;
}
