.f-space {
  display: flex;
  flex-wrap: wrap;
  vertical-align: middle;
  column-gap: var(--space-column-gap, 10px);
  row-gap: var(--space-row-gap, 10px);

  // 纵向排列
  &.f-space__vertical {
    flex-direction: column;
  }

  // 是否禁止换行
  &.f-space__nowrap {
    flex-wrap: nowrap;
  }

  // 不同尺寸
  &.f-space__large {
    column-gap: 14px;
    row-gap: 14px;
  }

  &.f-space__middle {
    column-gap: 10px;
    row-gap: 10px;
  }

  &.f-space__small {
    column-gap: 6px;
    row-gap: 6px;
  }

  &.f-space__mini {
    column-gap: 2px;
    row-gap: 2px;
  }
}
