.f-sticky-card {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid var(--sticky-card-border-color, #eee);
  transition: 0.3s;

  // 展示的内容
  &__source {
    padding: 20px;
    box-sizing: border-box;
  }

  // 折叠的内容
  &__box {
    padding: 0 20px;
    box-sizing: border-box;
    border-top: 1px solid var(--sticky-card-border-color, #eee);

    // 滚动条
    &::-webkit-scrollbar {
      width: 7px;
    }

    // 滚动滑块
    &::-webkit-scrollbar-thumb {
      background-color: #ddd;
      border-radius: 6px;
    }
  }

  // 点击的操作栏
  &__option {
    border-top: 1px solid var(--sticky-card-border-color, #eee);
    height: 45px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 15px;
    padding: 10px;
    box-sizing: border-box;
    z-index: 999;
    background-color: #fff;
    color: #333;

    // 展开使用粘性定位
    &.f-sticky-card__option-open {
      position: sticky;
      bottom: 0px;
    }

    // 描述文字
    &__option-text {
      transition: 0.4s;
      text-align: center;
      display: block;
    }

    &:hover {
      .f-sticky-card__option-text {
        color: #2d5af1;
      }
    }
  }

  // 鼠标移入
  &:hover {
    box-shadow: 0 0 8px 0 #e8edfa99, 0 2px 4px 0 #e8edfa80;
  }
}
