.f-svg-icon {
  width: 1em;
  height: 1em;
  line-height: 1em;
  position: relative;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  color: var(--svg-icon-color);
  font-size: var(--svg-icon-size, 21px);
}
