@import '../config/var-swap.scss';

.f-swap {
  user-select: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .f--default-on {
    transform: rotate(0deg);
    transition-duration: .3s;
  }

  .f--default-off {
    transform: rotate(0deg);
    transition-duration: .3s;
  }

  .f--sound-on {
    transform: rotate(80deg);
    transition-duration: .3s;
  }

  .f--sound-off {
    transform: rotate(0deg);
    transition-duration: .3s;
  }

  .f--swap-on {
    transition-duration: .3s;
    transform: rotateY(180deg);
    opacity: 1;
  }

  .f--swap-off {
    transition-duration: .3s;
    transform: rotateY(0deg);
    opacity: 1;
  }

  .f-swap-off {
    z-index: 5;
    height: auto !important;

    @each $key,
    $value in $switchSize {
      &.f-swap-#{$key} {
        font-size: $value * 2;
        vertical-align: bottom !important;
      }
    }
  }
}
