@import '../config/const-color.scss';

.f-table {
  height: var(--f-table-height);
  background: var(--f-table-bg-color, #fff);

  // 主容器
  &__container {
    position: relative;
    height: var(--f-table-height);
    box-sizing: border-box;
    border: 1px solid #eee;

    // 在限制高度时展示的头部
    .f-table__header {
      position: absolute;
      right: 0;
      left: 0;
      top: 0;
    }

    // 身体
    .f-table__body {
      height: calc(var(--f-table-height) - 45px);
      overflow: auto;

      // 在限制高度的时候加这个样式
      &.f-table__body-margin {
        margin-top: 45px;
      }

      // 滚动条
      &::-webkit-scrollbar {
        width: 7px;
      }

      // 滚动滑块
      &::-webkit-scrollbar-thumb {
        background: #dddddd;
        border-radius: 6px;
      }
    }

    // table 公共样式
    table {
      width: 100%;
      border-spacing: 0;
      border-collapse: collapse;
      table-layout: fixed;
      text-align: left;

      thead {
        background: var(--f-table-head-bg-color, rgb(247, 247, 247));
        font-size: 16px;
        color: rgb(78, 78, 78);
        height: 45px;
        cursor: default;

        tr {
          th {
            font-weight: 500;
            padding: 12px;
            box-sizing: border-box;
            font-size: 15px;
            color: rgb(79, 79, 79);
          }
        }
      }

      tbody {
        font-size: 16px;
        color: rgb(78, 78, 78);
        height: 45px;
        cursor: default;

        tr {
          td {
            font-weight: 500;
            padding: 12px;
            font-size: 15px;
            color: #333;
            box-sizing: border-box;
            border-bottom: 1px solid #eee;
          }
        }
      }
    }
  }
}
