@use './root';

.f-tabs {
  display: flex;

  // 上方位置
  &.f-tabs__top {
    flex-direction: column;

    // 卡片类型
    .f-tabs-nav__card {
      .f-tabs-nav__item {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }

  // 下方位置
  &.f-tabs__bottom {
    flex-direction: column-reverse;

    // 卡片类型
    .f-tabs-nav__card {
      .f-tabs-nav__item {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }

  // 左侧位置
  &.f-tabs__left {
    flex-direction: row;

    // 线性类型
    .f-tabs-nav__line {
      border-right: 1px solid #ddd;
    }

    // 卡片类型
    .f-tabs-nav__card {
      .f-tabs-nav__item {
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
      }
    }
  }

  // 右侧位置
  &.f-tabs__right {
    flex-direction: row-reverse;

    // 线性类型
    .f-tabs-nav__line {
      border-left: 1px solid #ddd;
    }

    // 卡片类型
    .f-tabs-nav__card {
      .f-tabs-nav__item {
        border-bottom-right-radius: 8px;
        border-top-right-radius: 8px;
      }
    }
  }

  // 上下位置
  &.f-tabs__top,
  &.f-tabs__bottom {
    .f-tabs-nav {
      display: flex;
      box-sizing: border-box;
      justify-content: space-between;
      align-items: flex-end;

      // 线性类型
      &.f-tabs-nav__line {
        border-bottom: 1px solid #ddd;

        // 主要容器
        .f-tabs-nav__wrapper {
          width: 100%;
          display: flex;
          position: relative;
          justify-content: flex-start;

          .f-tabs-nav__main {
            width: 100%;
            display: flex;

            // 每一项元素
            .f-tabs-nav__item {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              text-align: center;
              word-break: keep-all;
              padding: 10px;

              // 选中的元素
              &:hover,
              &.f-tabs-nav__item-active {
                color: var(--f-design-color-primary-1);
              }

              // 关闭按钮
              .f-close-btn {
                margin-left: 8px;
              }

              // label
              .f-tabs-nav__item-label {
                font-size: 15px;
              }
            }
          }

          // 选中的标签
          .f-tabs-nav__line-active {
            height: 2px;
            background-color: var(--f-design-color-primary-1);
            transition: all var(--f-design-transition-time);
            position: absolute;
          }
        }
      }

      // 卡片类型
      &.f-tabs-nav__card {
        display: flex;

        // 主要容器
        .f-tabs-nav__wrapper {
          display: flex;
          position: relative;

          .f-tabs-nav__main {
            display: flex;

            // 每一项
            .f-tabs-nav__item {
              padding: 4px 12px;
              border: 1px solid #ddd;
              cursor: pointer;
              display: flex;
              align-items: center;
              user-select: none;
              background-color: #f5f7fa;

              // label
              .f-tabs-nav__item-label {
                font-size: 15px;
              }

              // 关闭按钮
              .f-close-btn {
                margin-left: 8px;
              }

              // 选中的
              &.f-tabs-nav__item-active {
                background-color: #fff;

                .f-tabs-nav__item-label {
                  color: var(--f-design-color-primary-1);
                }
              }
            }
          }

          .f-tabs-nav__item + .f-tabs-nav__item {
            margin-top: -1px;
          }
        }
      }

      // 分段类型
      &.f-tabs-nav__segment {
        background-color: #f7f7fa;
        padding: 4px;
        box-sizing: border-box;
        display: flex;

        // 主要容器
        .f-tabs-nav__wrapper {
          display: flex;
          position: relative;
          width: 100%;

          .f-tabs-nav__main {
            display: flex;
            width: 100%;

            // 每一项
            .f-tabs-nav__item {
              display: flex;
              flex: 1;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              text-align: center;
              word-break: keep-all;
              padding: 4px 8px;

              &.f-tabs-nav__item-active {
                background-color: var(--f-design-color-text-2);

                .f-tabs-nav__item-label {
                  color: var(--f-design-color-primary-1);
                }
              }
            }
          }
        }
      }
    }
  }

  // 左右位置
  &.f-tabs__right,
  &.f-tabs__left {
    .f-tabs-nav {
      // 线性类型
      &.f-tabs-nav__line {
        // 主要容器
        .f-tabs-nav__wrapper {
          display: flex;
          position: relative;
          flex-direction: column;
          align-items: flex-end;

          .f-tabs-nav__main {
            // 每一项元素
            .f-tabs-nav__item {
              display: flex;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              text-align: center;
              word-break: keep-all;
              padding: 10px;

              // 选中的元素
              &:hover,
              &.f-tabs-nav__item-active {
                color: var(--f-design-color-primary-1);
              }

              // 关闭按钮
              .f-close-btn {
                margin-left: 8px;
              }

              // label
              .f-tabs-nav__item-label {
                font-size: 15px;
              }
            }
          }

          // 选中的标签
          .f-tabs-nav__line-active {
            width: 2px;
            background-color: var(--f-design-color-primary-1);
            transition: all var(--f-design-transition-time);
            position: absolute;
          }
        }
      }

      // 卡片类型
      &.f-tabs-nav__card {
        // 滚动容器
        .f-tabs-nav__wrapper {
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: flex-end;

          // 每一项
          .f-tabs-nav__item {
            padding: 4px 12px;
            border: 1px solid #ddd;
            cursor: pointer;
            display: flex;
            align-items: center;
            user-select: none;
            background-color: #f5f7fa;

            // label
            .f-tabs-nav__item-label {
              font-size: 15px;
            }

            // 关闭按钮
            .f-close-btn {
              margin-left: 8px;
            }

            // 选中的
            &.f-tabs-nav__item-active {
              background-color: #fff;

              .f-tabs-nav__item-label {
                color: var(--f-design-color-primary-1);
              }
            }
          }

          .f-tabs-nav__item + .f-tabs-nav__item {
            margin-top: -1px;
          }
        }
      }
    }
  }

  // 前缀和后缀
  .f-tabs-nav__suffix,
  .f-tabs-nav__prefix {
    padding: 5px 12px;
    display: flex;
  }

  // 主要展示的内容
  &__content {
    flex: 1;
  }
}
