@import '../config/const-color.scss';

.f-text {
  font-size: 15px;
  display: inline-block;
  word-break: break-all;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  cursor: default;

  // 不同类型
  @for $list from 1 to (length($allTypeColorList) + 1) {
    $item: nth($allTypeColorList, $list); // 获取数据中心第i项的值

    // 不同类型
    &.f-text-#{map-get($item, name)} {
      color: map-get($item, simpleTextColor);
    }
  }

  // 加粗
  &.f-text-bold {
    font-weight: bold;
  }

  // 独占一行
  &.f-text-block {
    display: block;
  }

  // 是否省略文本
  &.f-text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // 居中
  &.f-text-center {
    text-align: center;
    display: block;
  }
}
