@import '../config/const-color.scss';

.f-text {
  margin: 0;
  transition: 0.3s;
  display: inline-block;
  word-break: break-all;
  box-sizing: border-box;
  cursor: default;
  color: var(--f-text-color, $default);
  background: var(--f-text-background);
  text-decoration: var(--f-text-text-decoration);
  width: var(--f-text-width);
  font-size: var(--f-text-font-size, 15px);
  padding: var(--f-text-padding, 0);
  letter-spacing: var(--f-text-letter-spacing);
  line-height: var(--f-text-line-height);
  text-indent: var(--f-text-text-indent);

  // 不同类型
  @for $list from 1 to (length($allTypeColorList) + 1) {
    $item: nth($allTypeColorList, $list); // 获取数据中心第i项的值

    // 不同类型
    &.f-text__#{map-get($item, name)} {
      color: var(--f-text-color, map-get($item, simpleTextColor));
    }
  }

  // 加粗
  &.f-text__bold {
    font-weight: bold;
  }

  // 独占一行
  &.f-text__block {
    display: block;
  }

  // 是否省略文本
  &.f-text__ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  // 居中
  &.f-text__center {
    text-align: center;
    display: block;
  }
}
