@use './root';

.f-textarea {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transition: background var(--f-design-transition-time);
  background: var(--f-design-color-border-1);

  &__textarea {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    resize: none;
    outline: none;
    display: block;
    font-size: 15px;
    cursor: pointer;
    background: none;
    padding: 6px 9px;
    box-sizing: border-box;
    transition: border 0.2s;
    color: var(--f-design-color-text-1);
  }

  // 禁用状态
  &__disabled {
    cursor: not-allowed;
    color: #757575;
  }

  // 获取焦点
  &:focus-within {
    background: var(--f-design-color-text-2);

    .f-textarea__textarea {
      border: 1px solid var(--f-design-color-primary-1);
    }
  }

  &__clear-btn {
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    cursor: pointer;
    color: #c3c3c3;
    position: absolute;
  }
}
