.f-textarea {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transition: background 0.3s;
  background-color: #eee;

  &__textarea {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    resize: none;
    outline: none;
    display: block;
    font-size: 15px;
    cursor: pointer;
    background-color: none;
    padding: 6px 9px;
    box-sizing: border-box;
    transition: border 0.2s;
    color: #333;
  }

  // 禁用状态
  &__disabled {
    cursor: not-allowed;
    color: #757575;
  }

  // 获取焦点
  &:focus-within {
    background-color: #fff;

    .f-textarea__textarea {
      border: 1px solid #2d5af1;
    }
  }

  &__clear-btn {
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    cursor: pointer;
    color: #c3c3c3;
    position: absolute;
  }
}
