.f-textarea {
  --textarea-background: #f8f9fb;
  --textarea-resize: none;
}

.f-textarea {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: inline-block;
  transition: background 0.3s;
  resize: var(--textarea-resize);
  background-color: var(--textarea-background);

  &__textarea {
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    resize: none;
    outline: none;
    display: block;
    cursor: pointer;
    background: none;
    padding: 6px 9px;
    box-sizing: border-box;
    transition: 0.2s;
    font-size: var(--textarea-font-size, 14px);
    color: #333;
    font-family: Arial, sans-serif;
  }

  // 禁用状态
  &.f-textarea__disabled {
    cursor: not-allowed;
    color: #757575;

    .f-textarea__textarea {
      cursor: not-allowed;
    }
  }

  // 获取焦点
  &:focus-within {
    background-color: #fff;

    .f-textarea__textarea {
      border: 1px solid #2d5af1;
    }
  }

  &__clear-btn {
    top: 0;
    bottom: 0;
    right: 5px;
    margin: auto;
    cursor: pointer;
    color: #c3c3c3;
    position: absolute;
  }
}
