@use './root';
@import '../config/const-type';

.f-text {
  margin: 0;
  cursor: default;
  display: inline-block;
  word-break: break-all;
  box-sizing: border-box;
  font-weight: 500;
  transition: var(--f-design-transition-time);
  width: var(--f-text-width);
  padding: var(--f-text-padding, 0);
  background: var(--f-text-background);
  text-indent: var(--f-text-indent);
  line-height: var(--f-text-line-height);
  letter-spacing: var(--f-text-spacing);
  text-decoration: var(--f-text-decoration);
  color: var(--f-text-color, var(--f-design-color-text-1));
  font-size: var(--f-text-size, var(--f-design-font-size-middle));

  // 不同类型
  @for $list from 1 to (length($ComponentsType) + 1) {
    $item: nth($ComponentsType, $list); // 获取数据中心第i项的值

    // 不同类型
    &.f-text__#{map-get($item, name)} {
      color: var(--f-text-color, map-get($item, simpleTextColor));
    }
  }

  // 加粗
  &.f-text__bold {
    font-weight: bold;
  }

  // 独占一行
  &.f-text__block {
    display: block;
  }

  // 是否省略文本
  &.f-text__ellipsis {
    overflow: hidden;
    white-space: nowrap;
    vertical-align: bottom;
    text-overflow: ellipsis;
  }

  // 居中
  &.f-text__center {
    display: block;
    text-align: center;
  }
}
