.f-time-picker {
  width: 240px;
  display: inline-flex;

  // 触发器
  .f-trigger {
    width: 100%;

    // 时间选择列表
    .f-time-picker__content {
      padding: 14px;
      box-sizing: border-box;
      width: 240px;
      display: flex;
      justify-content: space-between;

      // 小时
      .f-time-picker__minute,
      .f-time-picker__hour {
        flex: 1;
        height: 300px;
        overflow: auto;
        padding: 0 6px;
        box-sizing: border-box;

        // 每一项选项
        .f-time-picker__hour-item,
        .f-time-picker__minute-item {
          height: 50px;
          width: 100%;
          cursor: pointer;
          user-select: none;
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          transition: background 0.3s;
          color: #333;

          &:hover {
            background-color: #eee;
          }

          // 选中的
          &.f-time-picker__minute-active,
          &.f-time-picker__hour-active {
            color: #fff;
            background: #2d5af1;
          }
        }

        // 滚动条
        &::-webkit-scrollbar,
        &::-webkit-scrollbar-thumb {
          display: none;
        }
      }
    }

    // 操作栏
    .f-time-picker__option {
      padding: 10px 25px;
      box-sizing: border-box;
      display: flex;
      justify-content: flex-end;

      .f-button__default {
        margin-right: 15px;
      }
    }
  }
}
