.f-toolbar-item {
  margin: 0 5px;
  cursor: pointer;
  user-select: none;
  padding: 10px 15px;
  align-items: center;
  display: inline-flex;
  justify-content: center;
  color: var(--toolbar-item-color);

  * {
    pointer-events: none;
  }
}
