.f-tooltip {
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: max-content;

  &::before,
  &::after {
    visibility: hidden;
    opacity: 0;
    z-index: 600;
    transform: translate3d(0, 0, 0);
    transition: all 0.3s ease 0.05s;
  }

  &.f-tooltip__hover:hover::before,
  &.f-tooltip__hover:hover::after,
  &.f-tooltip__active:active::before,
  &.f-tooltip__active:active::after,
  &.f-tooltip__always::before,
  &.f-tooltip__always::after {
    visibility: visible;
    opacity: 1;
  }

  &::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
  }

  &::after {
    content: attr(f-content);
    position: absolute;
    background-color: var(--tooltip-background, #333);
    font-size: 12px;
    font-weight: normal;
    color: var(--tooltip-font-color, #fff);
    line-height: 14px;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 2px;
  }

  &.f-tooltip__top::before {
    border-top-color: var(--tooltip-background, #333);
  }

  &.f-tooltip__right::before {
    border-right-color: var(--tooltip-background, #333);
  }

  &.f-tooltip__bottom::before {
    border-bottom-color: var(--tooltip-background, #333);
  }

  &.f-tooltip__left::before {
    border-left-color: var(--tooltip-background, #333);
  }

  &.f-tooltip__top.f-tooltip__bright::before {
    border-top-color: #eee;
  }

  &.f-tooltip__right.f-tooltip__bright::before {
    border-right-color: #eee;
  }

  &.f-tooltip__bottom.f-tooltip__bright::before {
    border-bottom-color: #eee;
  }

  &.f-tooltip__left.f-tooltip__bright::before {
    border-left-color: #eee;
  }

  // top && bottom
  &.f-tooltip__top::before,
  &.f-tooltip__bottom::before {
    left: calc(50% - 6px);
  }

  &.f-tooltip__top::after,
  &.f-tooltip__bottom::after {
    left: 50%;
    transform: translateX(-50%);
  }

  &.f-tooltip__top::before {
    top: 0px;
  }

  &.f-tooltip__top::after {
    bottom: 100%;
    margin-bottom: -1px;
  }

  &.f-tooltip__bottom::before {
    bottom: 0;
  }

  &.f-tooltip__bottom::after {
    top: 100%;
    margin-top: -1px;
  }

  &.f-tooltip__top.f-tooltip__hover:hover::before,
  &.f-tooltip__top.f-tooltip__active:active::before,
  &.f-tooltip__top.f-tooltip__always::before {
    transform: translateX(0%) translateY(-10px);
  }

  &.f-tooltip__top.f-tooltip__hover:hover::after,
  &.f-tooltip__top.f-tooltip__active:active::after,
  &.f-tooltip__top.f-tooltip__always::after {
    transform: translateX(-50%) translateY(-10px);
  }

  &.f-tooltip__bottom.f-tooltip__hover:hover::before,
  &.f-tooltip__bottom.f-tooltip__active:active::before,
  &.f-tooltip__bottom.f-tooltip__always::before {
    transform: translateX(0%) translateY(10px);
  }

  &.f-tooltip__bottom.f-tooltip__hover:hover::after,
  &.f-tooltip__bottom.f-tooltip__active:active::after,
  &.f-tooltip__bottom.f-tooltip__always::after {
    transform: translateX(-50%) translateY(10px);
  }

  //  left && right
  &.f-tooltip__right::before,
  &.f-tooltip__left::before {
    top: calc(50% - 6px);
  }

  &.f-tooltip__right::after,
  &.f-tooltip__left::after {
    top: 50%;
    transform: translateY(-50%);
  }

  &.f-tooltip__right::before {
    right: 0;
  }

  &.f-tooltip__right::after {
    left: 100%;
    margin-left: -1px;
  }

  &.f-tooltip__left::before {
    left: 0;
  }

  &.f-tooltip__left::after {
    right: 100%;
    margin-right: -1px;
  }

  &.f-tooltip__left.f-tooltip__hover:hover::after,
  &.f-tooltip__left.f-tooltip__active:active::after,
  &.f-tooltip__left.f-tooltip__always::after {
    transform: translateX(-10px) translateY(-50%);
  }

  &.f-tooltip__left.f-tooltip__hover:hover::before,
  &.f-tooltip__left.f-tooltip__active:active::before,
  &.f-tooltip__left.f-tooltip__always::before {
    transform: translateX(-10px) translateY(0%);
  }

  &.f-tooltip__right.f-tooltip__hover:hover::before,
  &.f-tooltip__right.f-tooltip__active:active::before,
  &.f-tooltip__right.f-tooltip__always::before {
    transform: translateX(10px) translateY(0%);
  }

  &.f-tooltip__right.f-tooltip__hover:hover::after,
  &.f-tooltip__right.f-tooltip__active:active::after,
  &.f-tooltip__right.f-tooltip__always::after {
    transform: translateX(10px) translateY(-50%);
  }

  // 是否禁用
  &.f-tooltip__disabled {
    &::before,
    &::after {
      visibility: hidden;
      opacity: 0;
    }
    &:hover::before,
    &:hover::after {
      visibility: hidden;
      opacity: 0;
    }
    &:active::before,
    &:active::after {
      visibility: hidden;
      opacity: 0;
    }
  }

  // 文字加粗
  &.f-tooltip__bold {
    &::after {
      font-weight: bold;
    }
  }

  // 不带箭头
  &.f-tooltip__no-arrow {
    &::before {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }

  // 浅色主题
  &.f-tooltip__bright {
    &::after {
      background-color: #fff;
      color: #333;
      border: 0.5px solid #333;
    }
  }
}
