@use './root';
@import '../config/const-size';

.f-toolbar {
  display: flex;
  flex-wrap: wrap;
  cursor: default;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: var(--f-toolbar-height);
  width: var(--f-toolbar-width);
  color: var(--f-toolbar-text-color);
  background-color: var(--f-toolbar-background, var(--f-design-color-default-1));

  // 不同尺寸
  @for $list from 1 to (length($ComponentsSize) + 1) {
    $item: nth($ComponentsSize, $list); // 获取数组中第i项的值

    &.f-toolbar__#{map-get($item, name)} {
      min-height: map-get($item, height);
      padding: 0 map-get($item, padding);
      font-size: map-get($item, fontSize);
    }
  }

  // 圆角
  &.f-toolbar__round {
    border-radius: 20px;
  }

  // 固定定位
  &.f-toolbar__fixed {
    z-index: 999;
    position: fixed;
  }
}
