@use './root';

.f-tree {
  .f-tree {
    margin-left: 20px;
  }

  &__data {
    .f-tree__label {
      height: 30px;
      display: flex;
      cursor: pointer;
      padding: 5px 15px;
      align-items: center;
      box-sizing: border-box;
      user-select: none;

      // icon
      .f-svg-icon {
        margin-right: 5px;
        transition: 0.3s;

        &.f-tree__icon-animation {
          transform: rotate(90deg);
        }
      }

      // 文字内容
      .f-tree-Label-text {
        user-select: none;
      }

      &:hover {
        background: var(--f-design-color-border-1);
      }
    }
  }
}
// 动画效果
.f-tree-animation-enter-active,
.f-tree-animation-leave-active {
  transition: all 0.3s ease;
}
.f-tree-animation-enter-from,
.f-tree-animation-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}
