.f-up-load {
  display: inline-block;

  // 拖拽上传
  .f-up-load__drag {
    width: 88px;
    height: 88px;
    cursor: pointer;
    align-items: center;
    display: inline-flex;
    justify-content: center;
    background: var(--f-design-color-border-1);
  }

  // 普通上传
  .f-up-load__content {
    display: inline-block;
  }
}

// 列表
.f-up-load__file-list {
  margin: 0;
  padding: 0;
  list-style: none;

  .f-up-load__file-list-item {
    height: 24px;
    display: flex;
    cursor: pointer;
    transition: 0.3s;
    align-items: center;
    justify-content: space-between;

    &:hover {
      background: var(--f-design-color-border-1);
    }

    .f-up-load__file-name {
      margin-left: 4px;
      font-size: 15px;
      color: var(--f-design-color-text-1);
    }
  }
}
