:root {
  --vp-c-green: #5d80f4;
  --vp-c-brand-dark: #5d80f4;
  --vp-c-bg-alt: #fff; // 侧边栏
}

.dark {
  --vp-c-bg-alt: #242424; // 深色模式侧边栏
}

.sidebar-link-item.active {
  background-color: rgba(82, 179, 94, 0.1);
}

.f-checkbox.f-checkbox__disabled .f-checkbox__text {
  color: #ddd !important;
}

.vp-doc {
  .f-dropdown {
    ul {
      list-style: none;
    }
  }

  ul {
    list-style: disc;
    padding-left: 0;

    li {
      margin-top: 0;
    }
  }

  .f-up-load__file-list {
    margin: 0;
  }

  ul.f-list {
    list-style: none;
  }

  // 移除表格默认样式
  table {
    margin: 0;

    th,
    tr,
    td {
      border: none;
      background-color: none;
    }

    tr:nth-child(2n) {
      background-color: none;
    }
  }

  tr:nth-child(2n) {
    background: none;
  }

  // 表格
  .vp-table__container {
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;

    table {
      width: 100%;
      display: inline-table;
    }

    th,
    tr:nth-child(2n) {
      background-color: transparent;
    }

    td,
    th {
      text-align: left;
      font-size: 15px;
      border-bottom: 1px solid #eee;
    }
  }

  p.f-text {
    line-height: 1;
  }
}

// 顶部 logo
.VPNavBarTitle.has-sidebar {
  border: none;
}

// 菜单栏基础样式
.VPSidebarItem .items .VPSidebarItem .item .VPLink .text {
  padding-left: 20px;
  display: flex;
  align-items: center;
  padding: 8px 30px;
  transition: 0.3s;
  box-sizing: border-box;
  border-radius: 40px;
}

// 菜单栏选中样式
.VPSidebarItem .items .VPSidebarItem.is-active .item .VPLink .text {
  background-color: #0057fc;
  color: #fff !important;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.outline-link {
  border-radius: 20px;
  background-color: transparent;
  transition: 0.3s;
  padding: 2px 15px;

  &.active {
    background-color: #0057fc;
    color: #fff !important;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    font-weight: bold;
  }
}

// 菜单栏
.VPSidebar.open {
  z-index: 99999;
}

// 滚动条
::-webkit-scrollbar {
  width: 7px;
}

// 滚动滑块
::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 6px;
}

// 滚动条高度
::-webkit-scrollbar {
  height: 8px;
  cursor: pointer;
}

// 粘性卡片
.f-sticky-card {
  margin-top: 20px;
}

/* 主题动画切换 */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 1000;
}

::view-transition-new(root) {
  z-index: 99999;
}

.dark::view-transition-old(root) {
  z-index: 99999;
}

.dark::view-transition-new(root) {
  z-index: 1000;
}
@import './vitepress.dark.scss';
