// 正常色号
$default: #f0f0f0;
$primary: #2d5af1;
$success: #52b35e;
$danger: #ff0200;
$warning: #fcc202;

// 简约的色号
$simpleDefault: lighten($default, 3%);
$simplePrimary: lighten($primary, 37%);
$simpleSuccess: lighten($success, 42%);
$simpleDanger: lighten($danger, 42%);
$simpleWarning: lighten($warning, 42%);

// 不同类型的颜色状态
$allTypeColorList: (
  (
    // 类名拼接
    name: 'default',
    // 默认背景色
    default: $default,
    // 简约状态背景色
    simple: $simpleDefault,
    // 默认字体颜色
    defaultTextColor: #333,
    // 简约的字体颜色
    simpleTextColor: #333,
    // hover 状态背景色
    defaultHover: darken($default, 3%),
    // Active 状态背景色
    defaultActive: darken($default, 10%),
    // 简约的 hover 状态背景色
    simpleHover: darken($simpleDefault, 3%),
    // 简约的 Active 状态背景色
    simpleActive: darken($simpleDefault, 9%)
  ),
  (
    name: 'primary',
    default: $primary,
    simple: $simplePrimary,
    defaultTextColor: #fff,
    simpleTextColor: #2d5af1,
    defaultHover: lighten($primary, 10%),
    defaultActive: darken($primary, 10%),
    simpleHover: lighten($simplePrimary, 3%),
    simpleActive: darken($simplePrimary, 3%)
  ),
  (
    name: 'success',
    default: $success,
    simple: $simpleSuccess,
    defaultTextColor: #fff,
    simpleTextColor: #52b35e,
    defaultHover: lighten($success, 10%),
    defaultActive: darken($success, 10%),
    simpleHover: lighten($simpleSuccess, 3%),
    simpleActive: darken($simpleSuccess, 3%)
  ),
  (
    name: 'danger',
    default: $danger,
    simple: $simpleDanger,
    defaultTextColor: #fff,
    simpleTextColor: #ff0200,
    defaultHover: lighten($danger, 17%),
    defaultActive: darken($danger, 10%),
    simpleHover: lighten($simpleDanger, 3%),
    simpleActive: darken($simpleDanger, 3%)
  ),
  (
    name: 'warning',
    default: $warning,
    simple: $simpleWarning,
    defaultTextColor: #fff,
    simpleTextColor: #fcc202,
    defaultHover: lighten($warning, 14%),
    defaultActive: darken($warning, 10%),
    simpleHover: lighten($simpleWarning, 3%),
    simpleActive: darken($simpleWarning, 3%)
  )
);
