$large: 40px;
$middle: 35px;
$small: 30px;
$mini: 25px;

// tag相关
$tag-height-large: 32px;
$tag-height-middle: 28px;
$tag-height-small: 24px;
$tag-height-mini: 20px;

// button 相关
$btn-font-size-large: 15px;
$btn-font-size-middle: 14px;
$btn-font-size-small: 13px;
$btn-font-size-mini: 12px;

$btn-padding-x-large: 28px;
$btn-padding-x-middle: 25px;
$btn-padding-x-small: 22px;
$btn-padding-x-mini: 19px;
