$large: 39px;
$middle: 35px;
$small: 31px;
$mini: 27px;

// button 相关
$btn-font-size-large: 15px;
$btn-font-size-middle: 14px;
$btn-font-size-small: 13px;
$btn-font-size-mini: 12px;

$btn-padding-x-large: 28px;
$btn-padding-x-middle: 25px;
$btn-padding-x-small: 22px;
$btn-padding-x-mini: 19px;
