$large: 40px;
$middle: 35px;
$small: 30px;
$mini: 25px;

// button 相关
// button 相关
$ButtonFontSizeLarge: 15px;
$ButtonFontSizeMiddle: 14px;
$ButtonFontSizeSmall: 13px;
$ButtonFontSizeMini: 12px;

$ButtonPaddingLarge: 30px;
$ButtonPaddingMiddle: 25px;
$ButtonPaddingSmall: 20px;
$ButtonPaddingMini: 15px;
