@import '../config/const-color.scss';
@import '../config/const-size.scss';

// 文字颜色
$textColor: #24292f;

// 不同大小
@mixin btnSizes($height, $padding, $fontSize) {
  height: $height;
  padding: 0 $padding;
  line-height: $height;
  font-size: $fontSize;
}

// 不同的类型
$ButtonTypes: (
  'default': $default,
  'primary': $primary,
  'success': $success,
  'danger': $danger,
  'warning': $warning
);

// 不同尺寸
$ButtonSizes: (
  'large': $large,
  'middle': $middle,
  'small': $small,
  'mini': $mini
);

// 不同按钮的边距
$ButtonFontSizeLarge: 15px;
$ButtonFontSizeMiddle: 14px;
$ButtonFontSizeSmall: 13px;
$ButtonFontSizeMini: 12px;

$ButtonPaddingLarge: 30px;
$ButtonPaddingMiddle: 25px;
$ButtonPaddingSmall: 20px;
$ButtonPaddingMini: 15px;
