.f-link {
  --link-font-size: 15px;

  // 不同类型
  &__default {
    --link-color: #aeaeae;
  }

  &__primary {
    --link-color: #2d5af1;
  }

  &__success {
    --link-color: #52b35e;
  }

  &__danger {
    --link-color: #ff0200;
  }

  &__warning {
    --link-color: #fcc202;
  }

  &__info {
    --link-color: #1d1d1f;
  }
}
