@import '../config/const-color.scss';

// 不同的类型
$alertTypes: (
  'primary': $primary,
  'success': $success,
  'danger': $danger,
  'warning': $warning,
  'default': $defaultTextColor,
  'info': $info
);

// 不同的类型
$alertTypeColor: (
  (
    name: 'primary',
    bgColor: $primary,
    color: #ffffff,
    simpleBgColor: #dfe6fc,
    simpleColor: $defaultTextColor
  ),
  (
    name: 'success',
    bgColor: $success,
    color: #ffffff,
    simpleBgColor: #e7f4e8,
    simpleColor: $defaultTextColor
  ),
  (
    name: 'danger',
    bgColor: $danger,
    color: #ffffff,
    simpleBgColor: #ffd9d8,
    simpleColor: $defaultTextColor
  ),
  (
    name: 'warning',
    bgColor: $warning,
    color: #ffffff,
    simpleBgColor: #fff5d6,
    simpleColor: $defaultTextColor
  ),
  (
    name: 'default',
    bgColor: $default,
    color: #ffffff,
    simpleBgColor: #c9c9c9,
    simpleColor: $defaultTextColor
  ),
  (
    name: 'info',
    bgColor: $info,
    color: #ffffff,
    simpleBgColor: #aaaaaa,
    simpleColor: $defaultTextColor
  )
);
