.f-badge {
  --badge-border-radius: 2px;

  // 不同类型
  &__default {
    --badge-color: #1d1d1f;
    --badge-background: #f0f0f0;
  }

  &__primary {
    --badge-color: #fff;
    --badge-background: #2d5af1;
  }

  &__success {
    --badge-color: #fff;
    --badge-background: #52b35e;
  }

  &__danger {
    --badge-color: #fff;
    --badge-background: #ff0200;
  }

  &__warning {
    --badge-color: #fff;
    --badge-background: #fcc202;
  }

  // 不同类型
  &__info {
    --badge-color: #fbfbfd;
    --badge-background: #1d1d1f;
  }
}
