.f-avatar {
  --avatar-size: 60px;

  &__large {
    --avatar-size: 70px;
  }
  &__middle {
    --avatar-size: 60px;
  }
  &__small {
    --avatar-size: 50px;
  }
  &__mini {
    --avatar-size: 40px;
  }
}
