.f-list__large {
  --list-item-height: 40px;
  --list-item-font-size: 16px;
}

.f-list__middle {
  --list-item-height: 35px;
  --list-item-font-size: 15px;
}

.f-list__small {
  --list-item-height: 30px;
  --list-item-font-size: 14px;
}

.f-list__mini {
  --list-item-height: 25px;
  --list-item-font-size: 13px;
}
