pre {
  background: rgb(246, 248, 250) !important;
  code {
    color: #333 !important;
    .punctuation {
      color: #a8a8a8;
    }
    .tag {
      color: #025fd1;
    }
    .attr-name {
      color: #00c281;
    }
    .keyword {
      color: #f602ea;
    }
    .function {
      color: rgb(215, 58, 73);
    }
    .string {
      color: #c58701;
    }
  }
}
.language-html::before {
  color: #333 !important;
}
