// 立春
$BeginningOfSpring-1: #fff799;
$BeginningOfSpring-2: #ffee6f;

// 雨水 - 随风潜入夜，润物细无声
$RainWater-1: #f9d3e3;
$RainWater-2: #ecb0c1;

// 惊蛰 - 春雷响，万物长
$AwakeningOfInsects-1: #ba5b49;
$AwakeningOfInsects-2: #a64036;

// 春分 - 春风如贵客，一道便繁华
$SpringEquinox-1: #ebeee8;
$SpringEquinox-2: #e0e0d0;

// 清明 - 清明时节雨纷纷
$PureBrightness-1: #a6559d;
$PureBrightness-2: #6c216d;

// 谷雨 - 风吹雨洗一城花
$GrainRain-1: #dcc7e1;
$GrainRain-2: #bba1cb;

// 立夏 - 天地始交，万物并秀
$BeginningOfSummer-1: #c3d94e;
$BeginningOfSummer-2: #84a729;

// 小满 - 物至与此，小得盈满
$GrainBuds-1: #e2a2ac;
$GrainBuds-2: #dd6878;

// 芒种 - 家家麦饭美，处处菱歌长
$GrainInEar-1: #d3d1ae;
$GrainInEar-2: #bfc096;

// 夏至 - 绿筠尚含粉，圆荷始散芳
$SummerSolstice-1: #cb523e;
$SummerSolstice-2: #95302e;

// 小暑 - 荷风送香气，竹露滴清响
$MinorHeat-1: #f5b087;
$MinorHeat-2: #f18f60;

// 大暑 - 挂轮开子夜，荧光照空时
$MajorHeat-1: #e3adb9;
$MajorHeat-2: #cf929e;

// 立秋 - 天阶景色凉如水，坐看牵牛织女星
$BeginningOfAutumn-1: #88abda;
$BeginningOfAutumn-2: #5976ba;

// 处暑 - 春种一粒栗，秋收万颗子
$EndOfHeat-1: #f0cfe3;
$EndOfHeat-2: #ce93bf;

// 白鹭 - 露从今夜白，月色故乡明
$WhiteDew-1: #f5f2e9;
$WhiteDew-2: #dfd688;

// 秋分
$AutumnEquinox-1: #d5e3d4;
$AutumnEquinox-2: #becab7;

// 寒露
$ColdDew-1: #a6bab1;
$ColdDew-2: #778a88;

// 霜降
$FrostIsDescent-1: #d12920;
$FrostIsDescent-2: #8f1d22;

// 立冬
$BeginningOfWinter-1: #fffbc7;
$BeginningOfWinter-2: #ece093;

// 小雪
$MinorSnow-1: #de82a7;
$MinorSnow-2: #b95a89;

// 大雪
$MajorSnow-1: #efc4ce;
$MajorSnow-2: #ce8892;

// 冬至
$WinterSolstice-1: #e7cad3;
$WinterSolstice-2: #d9a0b3;

// 小寒
$MinorCold-1: #f6f9e4;
$MinorCold-2: #e1d384;

// 大寒
$MajorCold-1: #995d7f;
$MajorCold-2: #814662;
