// $primary:#4A00E0;
// $success:#2ec708;
// $danger:#F00000;
// $warning:#FFD200;

// 2022-05-04 更新色号
$primary:#2d5af1;
$success:#52b35e;
$danger:#ff0200;
$warning:#fcc202;

$info:#bdc3c7;
$default:#ffffff;

$simpleBackground: #f4f5f5;

// 文字颜色
$textColor: #24292f;
$borderColor: #d5d8da;