$primary:#4A00E0;
$success:#2ec708;
$danger:#F00000;
$warning:#FFD200;
$info:#bdc3c7;
$default:#ffffff;

// hover 状态
$primaryHover:#6123de;
$successHover:#2ec708;
$dangerHover:#F00000;
$warningHover:#FFD200;
$infoHover:#bdc3c7;

// 文字颜色
$textColor: #24292f;
$borderColor: #d5d8da;