/**
 * Layouts
 * -------------------------------------------------------------------------- */

:root {
  /* Z Indexes */
  --vp-z-index-local-nav: 10;
  --vp-z-index-nav: 20;
  --vp-z-index-banner: 30;
  --vp-z-index-backdrop: 40;
  --vp-z-index-sidebar: 50;

  /* Screen Size */
  --vp-screen-max-width: 1376px;
}

/**
 * Component: Sidebar
 * -------------------------------------------------------------------------- */

:root {
  --vp-sidebar-width-mobile: 320px;
  --vp-sidebar-width-small: 272px;
}

html.dark {
  color-scheme: dark;
}
